In [1]:
#(1)(a) Given Tupo1=(1,2,2,2,3,4,5,5,6,7,8,9,9,10,) and Tupo2=(11,11,12,13,13,13,13,14,15,16). Write a program to give total

In [2]:
# create tuple
t1 = (1,2,2,2,3,4,5,5,6,7,8,9,9,10)
t2 = (11,11,12,13,13,13,13,14,15,16)

In [3]:
x= sum (t1)

In [4]:
y= sum(t2)

In [5]:
print (x + y)

204

In [6]:
#(b) Write a program to give the combination of Tupo1 and Tupo2

In [7]:
# create tuple
t1 = (1,2,2,2,3,4,5,5,6,7,8,9,9,10)
t2 = (11,11,12,13,13,13,13,14,15,16)

In [8]:
combined_tuple =(t1,t2)

In [9]:
print(combined_tuple)

((1, 2, 2, 2, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10), (11, 11, 12, 13, 13, 13, 13, 14, 15, 16))

In [10]:
#(2)(a) Convert tupo1 to list and also to string
#   (b) Do a count on 13 in tuple2 and also the len of tupo2
#   (c) What is the index position of 10 in tuple1

In [11]:
#(a) Convert tupo1 to list and also to string

In [12]:
tuple1 = (1,2,2,2,3,4,5,5,6,7,8,9,9,10,)

In [13]:
list1 = list(tuple1)

In [14]:
print(list1)

[1, 2, 2, 2, 3, 4, 5, 5, 6, 7, 8, 9, 9, 10]

In [15]:
tuple1 = ('1,2,2,2,3,4,5,5,6,7,8,9,9,10',)

In [16]:
print(tuple1)

('1,2,2,2,3,4,5,5,6,7,8,9,9,10',)

In [17]:
 #(b) Do a count on 13 in tuple2 and also the len of tupo2

In [18]:
tuple2 = (11,11,12,13,13,13,13,14,15,16)

In [19]:
tuple2.count(13)

4

In [20]:
tuple2 = (11,11,12,13,13,13,13,14,15,16)

In [21]:
len(tuple2)

10

In [22]:
# (c) What is the index position of 10 in tuple1

In [23]:
sap = (1,2,2,2,3,4,5,5,6,7,8,9,9,10,)

In [24]:
sap.index(10)

13

In [25]:
   
#(3) if lst=[1,2,[4,5,6]11,[6,7,8],(['Two','Three'])]
#   (a) From list above Grab 'Three' 
#   (b) Grab '11'
#   (C) extend lst by [12,13,14], should appear between 'Two' and 'Three'

In [26]:
#(a) From list above Grab 'Three'

In [27]:
lst = [1,2,[4,5,6],11,[6,7,8],(['Two','Three'])]

In [28]:
matrix = lst

In [29]:
print(matrix)

[1, 2, [4, 5, 6], 11, [6, 7, 8], ['Two', 'Three']]

In [30]:
matrix[5][1]

'Three'

In [31]:
#(b) Grab '11'

In [32]:
matrix[3]

11

In [33]:
 #(C) extend lst by [12,13,14], should appear between 'Two' and 'Three'

In [34]:
lst = [1,2,[4,5,6],11,[6,7,8],(['Two','Three'])]

In [35]:
matrix[5]

['Two', 'Three']

In [36]:
matrix[5].insert(1,[12,13,14])

In [37]:
matrix

[1, 2, [4, 5, 6], 11, [6, 7, 8], ['Two', [12, 13, 14], 'Three']]

In [38]:
#(4) From question number 1a, grab
#   (a) (5,6,7,13,14)
#   (b) (16,15,14,13)
#   (c) (1,2,2,2,3,9,9,10)


matrix = (1,2,2,2,3,4,5,5,6,7,8,9,9,10,11,11,12,13,13,13,13,14,15,16)

In [39]:
# matrix

In [40]:
matrix[7:10] + matrix[20:22]

[]

In [41]:
matrix = (1,2,2,2,3,4,5,5,6,7,8,9,9,10,11,11,12,13,13,13,13,14,15,16)

In [42]:
matrix[20:24][::-1]

(16, 15, 14, 13)

In [43]:
matrix = (1,2,2,2,3,4,5,5,6,7,8,9,9,10,11,11,12,13,13,13,13,14,15,16)

In [44]:
matrix[:5] + matrix[11:14]

(1, 2, 2, 2, 3, 9, 9, 10)

In [45]:

#(5) (a) Write a program to  Calculate the sum and  the average of 22,16,9 and 12
#    (b) An employee resumed his office work at 8:15am and left the office at 17:23pm. Write a program to show
#        How long he spent in the office.

 (a) Write a program to  Calculate the sum and  the average of 22,16,9 and 12

In [46]:
numbers = 22,16,9,12

In [47]:
sum(numbers)

59

In [48]:
# Average = sum of numbers/len of numbers
Average = sum(numbers)/len(numbers)
print(Average)

14.75

(b) An employee resumed his office work at 8:15am and left the office at 17:23pm. Write a program to show
  How long he spent in the office

In [6]:
from datetime import datetime

start = datetime.strptime("8:15 AM","%I:%M %p")
end = datetime.strptime("5:23 PM","%I:%M %p")

diff = end-start
print("time spent in the office:",diff)

time spent in the office: 9:08:00