## Exercises  (for loop & while loop)

#### (1). Write a program that counts the numbers from 1 to 100

In [1]:
# for loop
i = 1
for i in range (1,101):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [2]:
# while loop
i = 1
while i <=100:
    print(i,end=' ')
    
    i+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

### (2). Write a program that will display multiple of 4 from range 1 to 100

In [3]:

# for loop
x = 1
for x in range (1,101):
    if x%4==0:
        print(x,end=' ')

4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100

In [4]:
# while loop
i = 1
while i <=100:
    if i % 4 == 0:
        print(i, end=' ')
    i += 1

4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68 72 76 80 84 88 92 96 100

####  (3). Write a program to display the multiplication table of every number

In [2]:
# for loop
n =int(input("How many tables?"))

for a in range(1, n + 1):
    print(f"multiplication table of {a}:")
    for j in range(1,11):
        print(f"{a} x {j} = {a*j}")
    print()

How many tables?200
multiplication table of 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

multiplication table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

multiplication table of 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

multiplication table of 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

multiplication table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

multiplication table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

multiplication table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

multiplication table of 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

multiplication table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

multiplication table of 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

multiplication table of 11:
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

multiplication table of 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

multiplication table of 13:
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

multiplication table of 14:
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

multiplication table of 15:
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

multiplication table of 16:
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

multiplication table of 17:
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

multiplication table of 18:
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

multiplication table of 19:
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

multiplication table of 20:
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

multiplication table of 21:
21 x 1 = 21
21 x 2 = 42
21 x 3 = 63
21 x 4 = 84
21 x 5 = 105
21 x 6 = 126
21 x 7 = 147
21 x 8 = 168
21 x 9 = 189
21 x 10 = 210

multiplication table of 22:
22 x 1 = 22
22 x 2 = 44
22 x 3 = 66
22 x 4 = 88
22 x 5 = 110
22 x 6 = 132
22 x 7 = 154
22 x 8 = 176
22 x 9 = 198
22 x 10 = 220

multiplication table of 23:
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

multiplication table of 24:
24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

multiplication table of 25:
25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250

multiplication table of 26:
26 x 1 = 26
26 x 2 = 52
26 x 3 = 78
26 x 4 = 104
26 x 5 = 130
26 x 6 = 156
26 x 7 = 182
26 x 8 = 208
26 x 9 = 234
26 x 10 = 260

multiplication table of 27:
27 x 1 = 27
27 x 2 = 54
27 x 3 = 81
27 x 4 = 108
27 x 5 = 135
27 x 6 = 162
27 x 7 = 189
27 x 8 = 216
27 x 9 = 243
27 x 10 = 270

multiplication table of 28:
28 x 1 = 28
28 x 2 = 56
28 x 3 = 84
28 x 4 = 112
28 x 5 = 140
28 x 6 = 168
28 x 7 = 196
28 x 8 = 224
28 x 9 = 252
28 x 10 = 280

multiplication table of 29:
29 x 1 = 29
29 x 2 = 58
29 x 3 = 87
29 x 4 = 116
29 x 5 = 145
29 x 6 = 174
29 x 7 = 203
29 x 8 = 232
29 x 9 = 261
29 x 10 = 290

multiplication table of 30:
30 x 1 = 30
30 x 2 = 60
30 x 3 = 90
30 x 4 = 120
30 x 5 = 150
30 x 6 = 180
30 x 7 = 210
30 x 8 = 240
30 x 9 = 270
30 x 10 = 300

multiplication table of 31:
31 x 1 = 31
31 x 2 = 62
31 x 3 = 93
31 x 4 = 124
31 x 5 = 155
31 x 6 = 186
31 x 7 = 217
31 x 8 = 248
31 x 9 = 279
31 x 10 = 310

multiplication table of 32:
32 x 1 = 32
32 x 2 = 64
32 x 3 = 96
32 x 4 = 128
32 x 5 = 160
32 x 6 = 192
32 x 7 = 224
32 x 8 = 256
32 x 9 = 288
32 x 10 = 320

multiplication table of 33:
33 x 1 = 33
33 x 2 = 66
33 x 3 = 99
33 x 4 = 132
33 x 5 = 165
33 x 6 = 198
33 x 7 = 231
33 x 8 = 264
33 x 9 = 297
33 x 10 = 330

multiplication table of 34:
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

multiplication table of 35:
35 x 1 = 35
35 x 2 = 70
35 x 3 = 105
35 x 4 = 140
35 x 5 = 175
35 x 6 = 210
35 x 7 = 245
35 x 8 = 280
35 x 9 = 315
35 x 10 = 350

multiplication table of 36:
36 x 1 = 36
36 x 2 = 72
36 x 3 = 108
36 x 4 = 144
36 x 5 = 180
36 x 6 = 216
36 x 7 = 252
36 x 8 = 288
36 x 9 = 324
36 x 10 = 360

multiplication table of 37:
37 x 1 = 37
37 x 2 = 74
37 x 3 = 111
37 x 4 = 148
37 x 5 = 185
37 x 6 = 222
37 x 7 = 259
37 x 8 = 296
37 x 9 = 333
37 x 10 = 370

multiplication table of 38:
38 x 1 = 38
38 x 2 = 76
38 x 3 = 114
38 x 4 = 152
38 x 5 = 190
38 x 6 = 228
38 x 7 = 266
38 x 8 = 304
38 x 9 = 342
38 x 10 = 380

multiplication table of 39:
39 x 1 = 39
39 x 2 = 78
39 x 3 = 117
39 x 4 = 156
39 x 5 = 195
39 x 6 = 234
39 x 7 = 273
39 x 8 = 312
39 x 9 = 351
39 x 10 = 390

multiplication table of 40:
40 x 1 = 40
40 x 2 = 80
40 x 3 = 120
40 x 4 = 160
40 x 5 = 200
40 x 6 = 240
40 x 7 = 280
40 x 8 = 320
40 x 9 = 360
40 x 10 = 400

multiplication table of 41:
41 x 1 = 41
41 x 2 = 82
41 x 3 = 123
41 x 4 = 164
41 x 5 = 205
41 x 6 = 246
41 x 7 = 287
41 x 8 = 328
41 x 9 = 369
41 x 10 = 410

multiplication table of 42:
42 x 1 = 42
42 x 2 = 84
42 x 3 = 126
42 x 4 = 168
42 x 5 = 210
42 x 6 = 252
42 x 7 = 294
42 x 8 = 336
42 x 9 = 378
42 x 10 = 420

multiplication table of 43:
43 x 1 = 43
43 x 2 = 86
43 x 3 = 129
43 x 4 = 172
43 x 5 = 215
43 x 6 = 258
43 x 7 = 301
43 x 8 = 344
43 x 9 = 387
43 x 10 = 430

multiplication table of 44:
44 x 1 = 44
44 x 2 = 88
44 x 3 = 132
44 x 4 = 176
44 x 5 = 220
44 x 6 = 264
44 x 7 = 308
44 x 8 = 352
44 x 9 = 396
44 x 10 = 440

multiplication table of 45:
45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

multiplication table of 46:
46 x 1 = 46
46 x 2 = 92
46 x 3 = 138
46 x 4 = 184
46 x 5 = 230
46 x 6 = 276
46 x 7 = 322
46 x 8 = 368
46 x 9 = 414
46 x 10 = 460

multiplication table of 47:
47 x 1 = 47
47 x 2 = 94
47 x 3 = 141
47 x 4 = 188
47 x 5 = 235
47 x 6 = 282
47 x 7 = 329
47 x 8 = 376
47 x 9 = 423
47 x 10 = 470

multiplication table of 48:
48 x 1 = 48
48 x 2 = 96
48 x 3 = 144
48 x 4 = 192
48 x 5 = 240
48 x 6 = 288
48 x 7 = 336
48 x 8 = 384
48 x 9 = 432
48 x 10 = 480

multiplication table of 49:
49 x 1 = 49
49 x 2 = 98
49 x 3 = 147
49 x 4 = 196
49 x 5 = 245
49 x 6 = 294
49 x 7 = 343
49 x 8 = 392
49 x 9 = 441
49 x 10 = 490

multiplication table of 50:
50 x 1 = 50
50 x 2 = 100
50 x 3 = 150
50 x 4 = 200
50 x 5 = 250
50 x 6 = 300
50 x 7 = 350
50 x 8 = 400
50 x 9 = 450
50 x 10 = 500

multiplication table of 51:
51 x 1 = 51
51 x 2 = 102
51 x 3 = 153
51 x 4 = 204
51 x 5 = 255
51 x 6 = 306
51 x 7 = 357
51 x 8 = 408
51 x 9 = 459
51 x 10 = 510

multiplication table of 52:
52 x 1 = 52
52 x 2 = 104
52 x 3 = 156
52 x 4 = 208
52 x 5 = 260
52 x 6 = 312
52 x 7 = 364
52 x 8 = 416
52 x 9 = 468
52 x 10 = 520

multiplication table of 53:
53 x 1 = 53
53 x 2 = 106
53 x 3 = 159
53 x 4 = 212
53 x 5 = 265
53 x 6 = 318
53 x 7 = 371
53 x 8 = 424
53 x 9 = 477
53 x 10 = 530

multiplication table of 54:
54 x 1 = 54
54 x 2 = 108
54 x 3 = 162
54 x 4 = 216
54 x 5 = 270
54 x 6 = 324
54 x 7 = 378
54 x 8 = 432
54 x 9 = 486
54 x 10 = 540

multiplication table of 55:
55 x 1 = 55
55 x 2 = 110
55 x 3 = 165
55 x 4 = 220
55 x 5 = 275
55 x 6 = 330
55 x 7 = 385
55 x 8 = 440
55 x 9 = 495
55 x 10 = 550

multiplication table of 56:
56 x 1 = 56
56 x 2 = 112
56 x 3 = 168
56 x 4 = 224
56 x 5 = 280
56 x 6 = 336
56 x 7 = 392
56 x 8 = 448
56 x 9 = 504
56 x 10 = 560

multiplication table of 57:
57 x 1 = 57
57 x 2 = 114
57 x 3 = 171
57 x 4 = 228
57 x 5 = 285
57 x 6 = 342
57 x 7 = 399
57 x 8 = 456
57 x 9 = 513
57 x 10 = 570

multiplication table of 58:
58 x 1 = 58
58 x 2 = 116
58 x 3 = 174
58 x 4 = 232
58 x 5 = 290
58 x 6 = 348
58 x 7 = 406
58 x 8 = 464
58 x 9 = 522
58 x 10 = 580

multiplication table of 59:
59 x 1 = 59
59 x 2 = 118
59 x 3 = 177
59 x 4 = 236
59 x 5 = 295
59 x 6 = 354
59 x 7 = 413
59 x 8 = 472
59 x 9 = 531
59 x 10 = 590

multiplication table of 60:
60 x 1 = 60
60 x 2 = 120
60 x 3 = 180
60 x 4 = 240
60 x 5 = 300
60 x 6 = 360
60 x 7 = 420
60 x 8 = 480
60 x 9 = 540
60 x 10 = 600

multiplication table of 61:
61 x 1 = 61
61 x 2 = 122
61 x 3 = 183
61 x 4 = 244
61 x 5 = 305
61 x 6 = 366
61 x 7 = 427
61 x 8 = 488
61 x 9 = 549
61 x 10 = 610

multiplication table of 62:
62 x 1 = 62
62 x 2 = 124
62 x 3 = 186
62 x 4 = 248
62 x 5 = 310
62 x 6 = 372
62 x 7 = 434
62 x 8 = 496
62 x 9 = 558
62 x 10 = 620

multiplication table of 63:
63 x 1 = 63
63 x 2 = 126
63 x 3 = 189
63 x 4 = 252
63 x 5 = 315
63 x 6 = 378
63 x 7 = 441
63 x 8 = 504
63 x 9 = 567
63 x 10 = 630

multiplication table of 64:
64 x 1 = 64
64 x 2 = 128
64 x 3 = 192
64 x 4 = 256
64 x 5 = 320
64 x 6 = 384
64 x 7 = 448
64 x 8 = 512
64 x 9 = 576
64 x 10 = 640

multiplication table of 65:
65 x 1 = 65
65 x 2 = 130
65 x 3 = 195
65 x 4 = 260
65 x 5 = 325
65 x 6 = 390
65 x 7 = 455
65 x 8 = 520
65 x 9 = 585
65 x 10 = 650

multiplication table of 66:
66 x 1 = 66
66 x 2 = 132
66 x 3 = 198
66 x 4 = 264
66 x 5 = 330
66 x 6 = 396
66 x 7 = 462
66 x 8 = 528
66 x 9 = 594
66 x 10 = 660

multiplication table of 67:
67 x 1 = 67
67 x 2 = 134
67 x 3 = 201
67 x 4 = 268
67 x 5 = 335
67 x 6 = 402
67 x 7 = 469
67 x 8 = 536
67 x 9 = 603
67 x 10 = 670

multiplication table of 68:
68 x 1 = 68
68 x 2 = 136
68 x 3 = 204
68 x 4 = 272
68 x 5 = 340
68 x 6 = 408
68 x 7 = 476
68 x 8 = 544
68 x 9 = 612
68 x 10 = 680

multiplication table of 69:
69 x 1 = 69
69 x 2 = 138
69 x 3 = 207
69 x 4 = 276
69 x 5 = 345
69 x 6 = 414
69 x 7 = 483
69 x 8 = 552
69 x 9 = 621
69 x 10 = 690

multiplication table of 70:
70 x 1 = 70
70 x 2 = 140
70 x 3 = 210
70 x 4 = 280
70 x 5 = 350
70 x 6 = 420
70 x 7 = 490
70 x 8 = 560
70 x 9 = 630
70 x 10 = 700

multiplication table of 71:
71 x 1 = 71
71 x 2 = 142
71 x 3 = 213
71 x 4 = 284
71 x 5 = 355
71 x 6 = 426
71 x 7 = 497
71 x 8 = 568
71 x 9 = 639
71 x 10 = 710

multiplication table of 72:
72 x 1 = 72
72 x 2 = 144
72 x 3 = 216
72 x 4 = 288
72 x 5 = 360
72 x 6 = 432
72 x 7 = 504
72 x 8 = 576
72 x 9 = 648
72 x 10 = 720

multiplication table of 73:
73 x 1 = 73
73 x 2 = 146
73 x 3 = 219
73 x 4 = 292
73 x 5 = 365
73 x 6 = 438
73 x 7 = 511
73 x 8 = 584
73 x 9 = 657
73 x 10 = 730

multiplication table of 74:
74 x 1 = 74
74 x 2 = 148
74 x 3 = 222
74 x 4 = 296
74 x 5 = 370
74 x 6 = 444
74 x 7 = 518
74 x 8 = 592
74 x 9 = 666
74 x 10 = 740

multiplication table of 75:
75 x 1 = 75
75 x 2 = 150
75 x 3 = 225
75 x 4 = 300
75 x 5 = 375
75 x 6 = 450
75 x 7 = 525
75 x 8 = 600
75 x 9 = 675
75 x 10 = 750

multiplication table of 76:
76 x 1 = 76
76 x 2 = 152
76 x 3 = 228
76 x 4 = 304
76 x 5 = 380
76 x 6 = 456
76 x 7 = 532
76 x 8 = 608
76 x 9 = 684
76 x 10 = 760

multiplication table of 77:
77 x 1 = 77
77 x 2 = 154
77 x 3 = 231
77 x 4 = 308
77 x 5 = 385
77 x 6 = 462
77 x 7 = 539
77 x 8 = 616
77 x 9 = 693
77 x 10 = 770

multiplication table of 78:
78 x 1 = 78
78 x 2 = 156
78 x 3 = 234
78 x 4 = 312
78 x 5 = 390
78 x 6 = 468
78 x 7 = 546
78 x 8 = 624
78 x 9 = 702
78 x 10 = 780

multiplication table of 79:
79 x 1 = 79
79 x 2 = 158
79 x 3 = 237
79 x 4 = 316
79 x 5 = 395
79 x 6 = 474
79 x 7 = 553
79 x 8 = 632
79 x 9 = 711
79 x 10 = 790

multiplication table of 80:
80 x 1 = 80
80 x 2 = 160
80 x 3 = 240
80 x 4 = 320
80 x 5 = 400
80 x 6 = 480
80 x 7 = 560
80 x 8 = 640
80 x 9 = 720
80 x 10 = 800

multiplication table of 81:
81 x 1 = 81
81 x 2 = 162
81 x 3 = 243
81 x 4 = 324
81 x 5 = 405
81 x 6 = 486
81 x 7 = 567
81 x 8 = 648
81 x 9 = 729
81 x 10 = 810

multiplication table of 82:
82 x 1 = 82
82 x 2 = 164
82 x 3 = 246
82 x 4 = 328
82 x 5 = 410
82 x 6 = 492
82 x 7 = 574
82 x 8 = 656
82 x 9 = 738
82 x 10 = 820

multiplication table of 83:
83 x 1 = 83
83 x 2 = 166
83 x 3 = 249
83 x 4 = 332
83 x 5 = 415
83 x 6 = 498
83 x 7 = 581
83 x 8 = 664
83 x 9 = 747
83 x 10 = 830

multiplication table of 84:
84 x 1 = 84
84 x 2 = 168
84 x 3 = 252
84 x 4 = 336
84 x 5 = 420
84 x 6 = 504
84 x 7 = 588
84 x 8 = 672
84 x 9 = 756
84 x 10 = 840

multiplication table of 85:
85 x 1 = 85
85 x 2 = 170
85 x 3 = 255
85 x 4 = 340
85 x 5 = 425
85 x 6 = 510
85 x 7 = 595
85 x 8 = 680
85 x 9 = 765
85 x 10 = 850

multiplication table of 86:
86 x 1 = 86
86 x 2 = 172
86 x 3 = 258
86 x 4 = 344
86 x 5 = 430
86 x 6 = 516
86 x 7 = 602
86 x 8 = 688
86 x 9 = 774
86 x 10 = 860

multiplication table of 87:
87 x 1 = 87
87 x 2 = 174
87 x 3 = 261
87 x 4 = 348
87 x 5 = 435
87 x 6 = 522
87 x 7 = 609
87 x 8 = 696
87 x 9 = 783
87 x 10 = 870

multiplication table of 88:
88 x 1 = 88
88 x 2 = 176
88 x 3 = 264
88 x 4 = 352
88 x 5 = 440
88 x 6 = 528
88 x 7 = 616
88 x 8 = 704
88 x 9 = 792
88 x 10 = 880

multiplication table of 89:
89 x 1 = 89
89 x 2 = 178
89 x 3 = 267
89 x 4 = 356
89 x 5 = 445
89 x 6 = 534
89 x 7 = 623
89 x 8 = 712
89 x 9 = 801
89 x 10 = 890

multiplication table of 90:
90 x 1 = 90
90 x 2 = 180
90 x 3 = 270
90 x 4 = 360
90 x 5 = 450
90 x 6 = 540
90 x 7 = 630
90 x 8 = 720
90 x 9 = 810
90 x 10 = 900

multiplication table of 91:
91 x 1 = 91
91 x 2 = 182
91 x 3 = 273
91 x 4 = 364
91 x 5 = 455
91 x 6 = 546
91 x 7 = 637
91 x 8 = 728
91 x 9 = 819
91 x 10 = 910

multiplication table of 92:
92 x 1 = 92
92 x 2 = 184
92 x 3 = 276
92 x 4 = 368
92 x 5 = 460
92 x 6 = 552
92 x 7 = 644
92 x 8 = 736
92 x 9 = 828
92 x 10 = 920

multiplication table of 93:
93 x 1 = 93
93 x 2 = 186
93 x 3 = 279
93 x 4 = 372
93 x 5 = 465
93 x 6 = 558
93 x 7 = 651
93 x 8 = 744
93 x 9 = 837
93 x 10 = 930

multiplication table of 94:
94 x 1 = 94
94 x 2 = 188
94 x 3 = 282
94 x 4 = 376
94 x 5 = 470
94 x 6 = 564
94 x 7 = 658
94 x 8 = 752
94 x 9 = 846
94 x 10 = 940

multiplication table of 95:
95 x 1 = 95
95 x 2 = 190
95 x 3 = 285
95 x 4 = 380
95 x 5 = 475
95 x 6 = 570
95 x 7 = 665
95 x 8 = 760
95 x 9 = 855
95 x 10 = 950

multiplication table of 96:
96 x 1 = 96
96 x 2 = 192
96 x 3 = 288
96 x 4 = 384
96 x 5 = 480
96 x 6 = 576
96 x 7 = 672
96 x 8 = 768
96 x 9 = 864
96 x 10 = 960

multiplication table of 97:
97 x 1 = 97
97 x 2 = 194
97 x 3 = 291
97 x 4 = 388
97 x 5 = 485
97 x 6 = 582
97 x 7 = 679
97 x 8 = 776
97 x 9 = 873
97 x 10 = 970

multiplication table of 98:
98 x 1 = 98
98 x 2 = 196
98 x 3 = 294
98 x 4 = 392
98 x 5 = 490
98 x 6 = 588
98 x 7 = 686
98 x 8 = 784
98 x 9 = 882
98 x 10 = 980

multiplication table of 99:
99 x 1 = 99
99 x 2 = 198
99 x 3 = 297
99 x 4 = 396
99 x 5 = 495
99 x 6 = 594
99 x 7 = 693
99 x 8 = 792
99 x 9 = 891
99 x 10 = 990

multiplication table of 100:
100 x 1 = 100
100 x 2 = 200
100 x 3 = 300
100 x 4 = 400
100 x 5 = 500
100 x 6 = 600
100 x 7 = 700
100 x 8 = 800
100 x 9 = 900
100 x 10 = 1000

multiplication table of 101:
101 x 1 = 101
101 x 2 = 202
101 x 3 = 303
101 x 4 = 404
101 x 5 = 505
101 x 6 = 606
101 x 7 = 707
101 x 8 = 808
101 x 9 = 909
101 x 10 = 1010

multiplication table of 102:
102 x 1 = 102
102 x 2 = 204
102 x 3 = 306
102 x 4 = 408
102 x 5 = 510
102 x 6 = 612
102 x 7 = 714
102 x 8 = 816
102 x 9 = 918
102 x 10 = 1020

multiplication table of 103:
103 x 1 = 103
103 x 2 = 206
103 x 3 = 309
103 x 4 = 412
103 x 5 = 515
103 x 6 = 618
103 x 7 = 721
103 x 8 = 824
103 x 9 = 927
103 x 10 = 1030

multiplication table of 104:
104 x 1 = 104
104 x 2 = 208
104 x 3 = 312
104 x 4 = 416
104 x 5 = 520
104 x 6 = 624
104 x 7 = 728
104 x 8 = 832
104 x 9 = 936
104 x 10 = 1040

multiplication table of 105:
105 x 1 = 105
105 x 2 = 210
105 x 3 = 315
105 x 4 = 420
105 x 5 = 525
105 x 6 = 630
105 x 7 = 735
105 x 8 = 840
105 x 9 = 945
105 x 10 = 1050

multiplication table of 106:
106 x 1 = 106
106 x 2 = 212
106 x 3 = 318
106 x 4 = 424
106 x 5 = 530
106 x 6 = 636
106 x 7 = 742
106 x 8 = 848
106 x 9 = 954
106 x 10 = 1060

multiplication table of 107:
107 x 1 = 107
107 x 2 = 214
107 x 3 = 321
107 x 4 = 428
107 x 5 = 535
107 x 6 = 642
107 x 7 = 749
107 x 8 = 856
107 x 9 = 963
107 x 10 = 1070

multiplication table of 108:
108 x 1 = 108
108 x 2 = 216
108 x 3 = 324
108 x 4 = 432
108 x 5 = 540
108 x 6 = 648
108 x 7 = 756
108 x 8 = 864
108 x 9 = 972
108 x 10 = 1080

multiplication table of 109:
109 x 1 = 109
109 x 2 = 218
109 x 3 = 327
109 x 4 = 436
109 x 5 = 545
109 x 6 = 654
109 x 7 = 763
109 x 8 = 872
109 x 9 = 981
109 x 10 = 1090

multiplication table of 110:
110 x 1 = 110
110 x 2 = 220
110 x 3 = 330
110 x 4 = 440
110 x 5 = 550
110 x 6 = 660
110 x 7 = 770
110 x 8 = 880
110 x 9 = 990
110 x 10 = 1100

multiplication table of 111:
111 x 1 = 111
111 x 2 = 222
111 x 3 = 333
111 x 4 = 444
111 x 5 = 555
111 x 6 = 666
111 x 7 = 777
111 x 8 = 888
111 x 9 = 999
111 x 10 = 1110

multiplication table of 112:
112 x 1 = 112
112 x 2 = 224
112 x 3 = 336
112 x 4 = 448
112 x 5 = 560
112 x 6 = 672
112 x 7 = 784
112 x 8 = 896
112 x 9 = 1008
112 x 10 = 1120

multiplication table of 113:
113 x 1 = 113
113 x 2 = 226
113 x 3 = 339
113 x 4 = 452
113 x 5 = 565
113 x 6 = 678
113 x 7 = 791
113 x 8 = 904
113 x 9 = 1017
113 x 10 = 1130

multiplication table of 114:
114 x 1 = 114
114 x 2 = 228
114 x 3 = 342
114 x 4 = 456
114 x 5 = 570
114 x 6 = 684
114 x 7 = 798
114 x 8 = 912
114 x 9 = 1026
114 x 10 = 1140

multiplication table of 115:
115 x 1 = 115
115 x 2 = 230
115 x 3 = 345
115 x 4 = 460
115 x 5 = 575
115 x 6 = 690
115 x 7 = 805
115 x 8 = 920
115 x 9 = 1035
115 x 10 = 1150

multiplication table of 116:
116 x 1 = 116
116 x 2 = 232

116 x 3 = 348
116 x 4 = 464
116 x 5 = 580
116 x 6 = 696
116 x 7 = 812
116 x 8 = 928
116 x 9 = 1044
116 x 10 = 1160

multiplication table of 117:
117 x 1 = 117
117 x 2 = 234
117 x 3 = 351
117 x 4 = 468
117 x 5 = 585
117 x 6 = 702
117 x 7 = 819
117 x 8 = 936
117 x 9 = 1053
117 x 10 = 1170

multiplication table of 118:
118 x 1 = 118
118 x 2 = 236
118 x 3 = 354
118 x 4 = 472
118 x 5 = 590
118 x 6 = 708
118 x 7 = 826
118 x 8 = 944
118 x 9 = 1062
118 x 10 = 1180

multiplication table of 119:
119 x 1 = 119
119 x 2 = 238
119 x 3 = 357
119 x 4 = 476
119 x 5 = 595
119 x 6 = 714
119 x 7 = 833
119 x 8 = 952
119 x 9 = 1071
119 x 10 = 1190

multiplication table of 120:
120 x 1 = 120
120 x 2 = 240
120 x 3 = 360
120 x 4 = 480
120 x 5 = 600
120 x 6 = 720
120 x 7 = 840
120 x 8 = 960
120 x 9 = 1080
120 x 10 = 1200

multiplication table of 121:
121 x 1 = 121
121 x 2 = 242
121 x 3 = 363
121 x 4 = 484
121 x 5 = 605
121 x 6 = 726
121 x 7 = 847
121 x 8 = 968
121 x 9 = 1089
121 x 10 = 1210

multiplication table of 122:
122 x 1 = 122
122 x 2 = 244
122 x 3 = 366
122 x 4 = 488
122 x 5 = 610
122 x 6 = 732
122 x 7 = 854
122 x 8 = 976
122 x 9 = 1098
122 x 10 = 1220

multiplication table of 123:
123 x 1 = 123
123 x 2 = 246
123 x 3 = 369
123 x 4 = 492
123 x 5 = 615
123 x 6 = 738
123 x 7 = 861
123 x 8 = 984
123 x 9 = 1107
123 x 10 = 1230

multiplication table of 124:
124 x 1 = 124
124 x 2 = 248
124 x 3 = 372
124 x 4 = 496
124 x 5 = 620
124 x 6 = 744
124 x 7 = 868
124 x 8 = 992
124 x 9 = 1116
124 x 10 = 1240

multiplication table of 125:
125 x 1 = 125
125 x 2 = 250
125 x 3 = 375
125 x 4 = 500
125 x 5 = 625
125 x 6 = 750
125 x 7 = 875
125 x 8 = 1000
125 x 9 = 1125
125 x 10 = 1250

multiplication table of 126:
126 x 1 = 126
126 x 2 = 252
126 x 3 = 378
126 x 4 = 504
126 x 5 = 630
126 x 6 = 756
126 x 7 = 882
126 x 8 = 1008
126 x 9 = 1134
126 x 10 = 1260

multiplication table of 127:
127 x 1 = 127
127 x 2 = 254
127 x 3 = 381
127 x 4 = 508
127 x 5 = 635
127 x 6 = 762
127 x 7 = 889
127 x 8 = 1016
127 x 9 = 1143
127 x 10 = 1270

multiplication table of 128:
128 x 1 = 128
128 x 2 = 256
128 x 3 = 384
128 x 4 = 512
128 x 5 = 640
128 x 6 = 768
128 x 7 = 896
128 x 8 = 1024
128 x 9 = 1152
128 x 10 = 1280

multiplication table of 129:
129 x 1 = 129
129 x 2 = 258
129 x 3 = 387
129 x 4 = 516
129 x 5 = 645
129 x 6 = 774
129 x 7 = 903
129 x 8 = 1032
129 x 9 = 1161
129 x 10 = 1290

multiplication table of 130:
130 x 1 = 130
130 x 2 = 260
130 x 3 = 390
130 x 4 = 520
130 x 5 = 650
130 x 6 = 780
130 x 7 = 910
130 x 8 = 1040
130 x 9 = 1170
130 x 10 = 1300

multiplication table of 131:
131 x 1 = 131
131 x 2 = 262
131 x 3 = 393
131 x 4 = 524
131 x 5 = 655
131 x 6 = 786
131 x 7 = 917
131 x 8 = 1048
131 x 9 = 1179
131 x 10 = 1310

multiplication table of 132:
132 x 1 = 132
132 x 2 = 264
132 x 3 = 396
132 x 4 = 528
132 x 5 = 660
132 x 6 = 792
132 x 7 = 924
132 x 8 = 1056
132 x 9 = 1188
132 x 10 = 1320

multiplication table of 133:
133 x 1 = 133
133 x 2 = 266
133 x 3 = 399
133 x 4 = 532
133 x 5 = 665
133 x 6 = 798
133 x 7 = 931
133 x 8 = 1064
133 x 9 = 1197
133 x 10 = 1330

multiplication table of 134:
134 x 1 = 134
134 x 2 = 268
134 x 3 = 402
134 x 4 = 536
134 x 5 = 670
134 x 6 = 804
134 x 7 = 938
134 x 8 = 1072
134 x 9 = 1206
134 x 10 = 1340

multiplication table of 135:
135 x 1 = 135
135 x 2 = 270
135 x 3 = 405
135 x 4 = 540
135 x 5 = 675
135 x 6 = 810
135 x 7 = 945
135 x 8 = 1080
135 x 9 = 1215
135 x 10 = 1350

multiplication table of 136:
136 x 1 = 136
136 x 2 = 272
136 x 3 = 408
136 x 4 = 544
136 x 5 = 680
136 x 6 = 816
136 x 7 = 952
136 x 8 = 1088
136 x 9 = 1224
136 x 10 = 1360

multiplication table of 137:
137 x 1 = 137
137 x 2 = 274
137 x 3 = 411
137 x 4 = 548
137 x 5 = 685
137 x 6 = 822
137 x 7 = 959
137 x 8 = 1096
137 x 9 = 1233
137 x 10 = 1370

multiplication table of 138:
138 x 1 = 138
138 x 2 = 276
138 x 3 = 414
138 x 4 = 552
138 x 5 = 690
138 x 6 = 828
138 x 7 = 966
138 x 8 = 1104
138 x 9 = 1242
138 x 10 = 1380

multiplication table of 139:
139 x 1 = 139
139 x 2 = 278
139 x 3 = 417
139 x 4 = 556
139 x 5 = 695
139 x 6 = 834
139 x 7 = 973
139 x 8 = 1112
139 x 9 = 1251
139 x 10 = 1390

multiplication table of 140:
140 x 1 = 140
140 x 2 = 280
140 x 3 = 420
140 x 4 = 560
140 x 5 = 700
140 x 6 = 840
140 x 7 = 980
140 x 8 = 1120
140 x 9 = 1260
140 x 10 = 1400

multiplication table of 141:
141 x 1 = 141
141 x 2 = 282
141 x 3 = 423
141 x 4 = 564
141 x 5 = 705
141 x 6 = 846
141 x 7 = 987
141 x 8 = 1128
141 x 9 = 1269
141 x 10 = 1410

multiplication table of 142:
142 x 1 = 142
142 x 2 = 284
142 x 3 = 426
142 x 4 = 568
142 x 5 = 710
142 x 6 = 852
142 x 7 = 994
142 x 8 = 1136
142 x 9 = 1278
142 x 10 = 1420

multiplication table of 143:
143 x 1 = 143
143 x 2 = 286
143 x 3 = 429
143 x 4 = 572
143 x 5 = 715
143 x 6 = 858
143 x 7 = 1001
143 x 8 = 1144
143 x 9 = 1287
143 x 10 = 1430

multiplication table of 144:
144 x 1 = 144
144 x 2 = 288
144 x 3 = 432
144 x 4 = 576
144 x 5 = 720
144 x 6 = 864
144 x 7 = 1008
144 x 8 = 1152
144 x 9 = 1296
144 x 10 = 1440

multiplication table of 145:
145 x 1 = 145
145 x 2 = 290
145 x 3 = 435
145 x 4 = 580
145 x 5 = 725
145 x 6 = 870
145 x 7 = 1015
145 x 8 = 1160
145 x 9 = 1305
145 x 10 = 1450

multiplication table of 146:
146 x 1 = 146
146 x 2 = 292
146 x 3 = 438
146 x 4 = 584
146 x 5 = 730
146 x 6 = 876
146 x 7 = 1022
146 x 8 = 1168
146 x 9 = 1314
146 x 10 = 1460

multiplication table of 147:
147 x 1 = 147
147 x 2 = 294
147 x 3 = 441
147 x 4 = 588
147 x 5 = 735
147 x 6 = 882
147 x 7 = 1029
147 x 8 = 1176
147 x 9 = 1323
147 x 10 = 1470

multiplication table of 148:
148 x 1 = 148
148 x 2 = 296
148 x 3 = 444
148 x 4 = 592
148 x 5 = 740
148 x 6 = 888
148 x 7 = 1036
148 x 8 = 1184
148 x 9 = 1332
148 x 10 = 1480

multiplication table of 149:
149 x 1 = 149
149 x 2 = 298
149 x 3 = 447
149 x 4 = 596
149 x 5 = 745
149 x 6 = 894
149 x 7 = 1043
149 x 8 = 1192
149 x 9 = 1341
149 x 10 = 1490

multiplication table of 150:
150 x 1 = 150
150 x 2 = 300
150 x 3 = 450
150 x 4 = 600
150 x 5 = 750
150 x 6 = 900
150 x 7 = 1050
150 x 8 = 1200
150 x 9 = 1350
150 x 10 = 1500

multiplication table of 151:
151 x 1 = 151
151 x 2 = 302
151 x 3 = 453
151 x 4 = 604
151 x 5 = 755
151 x 6 = 906
151 x 7 = 1057
151 x 8 = 1208
151 x 9 = 1359
151 x 10 = 1510

multiplication table of 152:
152 x 1 = 152
152 x 2 = 304
152 x 3 = 456
152 x 4 = 608
152 x 5 = 760
152 x 6 = 912
152 x 7 = 1064
152 x 8 = 1216
152 x 9 = 1368
152 x 10 = 1520

multiplication table of 153:
153 x 1 = 153
153 x 2 = 306
153 x 3 = 459
153 x 4 = 612
153 x 5 = 765
153 x 6 = 918
153 x 7 = 1071
153 x 8 = 1224
153 x 9 = 1377
153 x 10 = 1530

multiplication table of 154:
154 x 1 = 154
154 x 2 = 308
154 x 3 = 462
154 x 4 = 616
154 x 5 = 770
154 x 6 = 924
154 x 7 = 1078
154 x 8 = 1232
154 x 9 = 1386
154 x 10 = 1540

multiplication table of 155:
155 x 1 = 155
155 x 2 = 310
155 x 3 = 465
155 x 4 = 620
155 x 5 = 775
155 x 6 = 930
155 x 7 = 1085
155 x 8 = 1240
155 x 9 = 1395
155 x 10 = 1550

multiplication table of 156:
156 x 1 = 156
156 x 2 = 312
156 x 3 = 468
156 x 4 = 624
156 x 5 = 780
156 x 6 = 936
156 x 7 = 1092
156 x 8 = 1248
156 x 9 = 1404
156 x 10 = 1560

multiplication table of 157:
157 x 1 = 157
157 x 2 = 314
157 x 3 = 471
157 x 4 = 628
157 x 5 = 785
157 x 6 = 942
157 x 7 = 1099
157 x 8 = 1256
157 x 9 = 1413
157 x 10 = 1570

multiplication table of 158:
158 x 1 = 158
158 x 2 = 316
158 x 3 = 474
158 x 4 = 632
158 x 5 = 790
158 x 6 = 948
158 x 7 = 1106
158 x 8 = 1264
158 x 9 = 1422
158 x 10 = 1580

multiplication table of 159:
159 x 1 = 159
159 x 2 = 318
159 x 3 = 477
159 x 4 = 636
159 x 5 = 795
159 x 6 = 954
159 x 7 = 1113
159 x 8 = 1272
159 x 9 = 1431
159 x 10 = 1590

multiplication table of 160:
160 x 1 = 160
160 x 2 = 320
160 x 3 = 480
160 x 4 = 640
160 x 5 = 800
160 x 6 = 960
160 x 7 = 1120
160 x 8 = 1280
160 x 9 = 1440
160 x 10 = 1600

multiplication table of 161:
161 x 1 = 161
161 x 2 = 322
161 x 3 = 483
161 x 4 = 644
161 x 5 = 805
161 x 6 = 966
161 x 7 = 1127
161 x 8 = 1288
161 x 9 = 1449
161 x 10 = 1610

multiplication table of 162:
162 x 1 = 162
162 x 2 = 324
162 x 3 = 486
162 x 4 = 648
162 x 5 = 810
162 x 6 = 972
162 x 7 = 1134
162 x 8 = 1296
162 x 9 = 1458
162 x 10 = 1620

multiplication table of 163:
163 x 1 = 163
163 x 2 = 326
163 x 3 = 489
163 x 4 = 652
163 x 5 = 815
163 x 6 = 978
163 x 7 = 1141
163 x 8 = 1304
163 x 9 = 1467
163 x 10 = 1630

multiplication table of 164:
164 x 1 = 164
164 x 2 = 328
164 x 3 = 492
164 x 4 = 656
164 x 5 = 820
164 x 6 = 984
164 x 7 = 1148
164 x 8 = 1312
164 x 9 = 1476
164 x 10 = 1640

multiplication table of 165:
165 x 1 = 165
165 x 2 = 330
165 x 3 = 495
165 x 4 = 660
165 x 5 = 825
165 x 6 = 990
165 x 7 = 1155
165 x 8 = 1320
165 x 9 = 1485
165 x 10 = 1650

multiplication table of 166:
166 x 1 = 166
166 x 2 = 332
166 x 3 = 498
166 x 4 = 664
166 x 5 = 830
166 x 6 = 996
166 x 7 = 1162
166 x 8 = 1328
166 x 9 = 1494
166 x 10 = 1660

multiplication table of 167:
167 x 1 = 167
167 x 2 = 334
167 x 3 = 501
167 x 4 = 668
167 x 5 = 835
167 x 6 = 1002
167 x 7 = 1169
167 x 8 = 1336
167 x 9 = 1503
167 x 10 = 1670

multiplication table of 168:
168 x 1 = 168
168 x 2 = 336
168 x 3 = 504
168 x 4 = 672
168 x 5 = 840
168 x 6 = 1008
168 x 7 = 1176
168 x 8 = 1344
168 x 9 = 1512
168 x 10 = 1680

multiplication table of 169:
169 x 1 = 169
169 x 2 = 338
169 x 3 = 507
169 x 4 = 676
169 x 5 = 845
169 x 6 = 1014
169 x 7 = 1183
169 x 8 = 1352
169 x 9 = 1521
169 x 10 = 1690

multiplication table of 170:
170 x 1 = 170
170 x 2 = 340
170 x 3 = 510
170 x 4 = 680
170 x 5 = 850
170 x 6 = 1020
170 x 7 = 1190
170 x 8 = 1360
170 x 9 = 1530
170 x 10 = 1700

multiplication table of 171:
171 x 1 = 171
171 x 2 = 342
171 x 3 = 513
171 x 4 = 684
171 x 5 = 855
171 x 6 = 1026
171 x 7 = 1197
171 x 8 = 1368
171 x 9 = 1539
171 x 10 = 1710

multiplication table of 172:
172 x 1 = 172
172 x 2 = 344
172 x 3 = 516
172 x 4 = 688
172 x 5 = 860
172 x 6 = 1032
172 x 7 = 1204
172 x 8 = 1376
172 x 9 = 1548
172 x 10 = 1720

multiplication table of 173:
173 x 1 = 173
173 x 2 = 346
173 x 3 = 519
173 x 4 = 692
173 x 5 = 865
173 x 6 = 1038
173 x 7 = 1211
173 x 8 = 1384
173 x 9 = 1557
173 x 10 = 1730

multiplication table of 174:
174 x 1 = 174
174 x 2 = 348
174 x 3 = 522
174 x 4 = 696
174 x 5 = 870
174 x 6 = 1044
174 x 7 = 1218
174 x 8 = 1392
174 x 9 = 1566
174 x 10 = 1740

multiplication table of 175:
175 x 1 = 175
175 x 2 = 350
175 x 3 = 525
175 x 4 = 700
175 x 5 = 875
175 x 6 = 1050
175 x 7 = 1225
175 x 8 = 1400
175 x 9 = 1575
175 x 10 = 1750

multiplication table of 176:
176 x 1 = 176
176 x 2 = 352
176 x 3 = 528
176 x 4 = 704
176 x 5 = 880
176 x 6 = 1056
176 x 7 = 1232
176 x 8 = 1408
176 x 9 = 1584
176 x 10 = 1760

multiplication table of 177:
177 x 1 = 177
177 x 2 = 354
177 x 3 = 531
177 x 4 = 708
177 x 5 = 885
177 x 6 = 1062
177 x 7 = 1239
177 x 8 = 1416
177 x 9 = 1593
177 x 10 = 1770

multiplication table of 178:
178 x 1 = 178
178 x 2 = 356
178 x 3 = 534
178 x 4 = 712
178 x 5 = 890
178 x 6 = 1068
178 x 7 = 1246
178 x 8 = 1424
178 x 9 = 1602
178 x 10 = 1780

multiplication table of 179:
179 x 1 = 179
179 x 2 = 358
179 x 3 = 537
179 x 4 = 716
179 x 5 = 895
179 x 6 = 1074
179 x 7 = 1253
179 x 8 = 1432
179 x 9 = 1611
179 x 10 = 1790

multiplication table of 180:
180 x 1 = 180
180 x 2 = 360
180 x 3 = 540
180 x 4 = 720
180 x 5 = 900
180 x 6 = 1080
180 x 7 = 1260
180 x 8 = 1440
180 x 9 = 1620
180 x 10 = 1800

multiplication table of 181:
181 x 1 = 181
181 x 2 = 362
181 x 3 = 543
181 x 4 = 724
181 x 5 = 905
181 x 6 = 1086
181 x 7 = 1267
181 x 8 = 1448
181 x 9 = 1629
181 x 10 = 1810

multiplication table of 182:
182 x 1 = 182
182 x 2 = 364
182 x 3 = 546
182 x 4 = 728
182 x 5 = 910
182 x 6 = 1092
182 x 7 = 1274
182 x 8 = 1456
182 x 9 = 1638
182 x 10 = 1820

multiplication table of 183:
183 x 1 = 183
183 x 2 = 366
183 x 3 = 549
183 x 4 = 732
183 x 5 = 915
183 x 6 = 1098
183 x 7 = 1281
183 x 8 = 1464
183 x 9 = 1647
183 x 10 = 1830

multiplication table of 184:
184 x 1 = 184
184 x 2 = 368
184 x 3 = 552
184 x 4 = 736
184 x 5 = 920
184 x 6 = 1104
184 x 7 = 1288
184 x 8 = 1472
184 x 9 = 1656
184 x 10 = 1840

multiplication table of 185:
185 x 1 = 185
185 x 2 = 370
185 x 3 = 555
185 x 4 = 740
185 x 5 = 925
185 x 6 = 1110
185 x 7 = 1295
185 x 8 = 1480
185 x 9 = 1665
185 x 10 = 1850

multiplication table of 186:
186 x 1 = 186
186 x 2 = 372
186 x 3 = 558
186 x 4 = 744
186 x 5 = 930
186 x 6 = 1116
186 x 7 = 1302
186 x 8 = 1488
186 x 9 = 1674
186 x 10 = 1860

multiplication table of 187:
187 x 1 = 187
187 x 2 = 374
187 x 3 = 561
187 x 4 = 748
187 x 5 = 935
187 x 6 = 1122
187 x 7 = 1309
187 x 8 = 1496
187 x 9 = 1683
187 x 10 = 1870

multiplication table of 188:
188 x 1 = 188
188 x 2 = 376
188 x 3 = 564
188 x 4 = 752
188 x 5 = 940
188 x 6 = 1128
188 x 7 = 1316
188 x 8 = 1504
188 x 9 = 1692
188 x 10 = 1880

multiplication table of 189:
189 x 1 = 189
189 x 2 = 378
189 x 3 = 567
189 x 4 = 756
189 x 5 = 945
189 x 6 = 1134
189 x 7 = 1323
189 x 8 = 1512
189 x 9 = 1701
189 x 10 = 1890

multiplication table of 190:
190 x 1 = 190
190 x 2 = 380
190 x 3 = 570
190 x 4 = 760
190 x 5 = 950
190 x 6 = 1140
190 x 7 = 1330
190 x 8 = 1520
190 x 9 = 1710
190 x 10 = 1900

multiplication table of 191:
191 x 1 = 191
191 x 2 = 382
191 x 3 = 573
191 x 4 = 764
191 x 5 = 955
191 x 6 = 1146
191 x 7 = 1337
191 x 8 = 1528
191 x 9 = 1719
191 x 10 = 1910

multiplication table of 192:
192 x 1 = 192
192 x 2 = 384
192 x 3 = 576
192 x 4 = 768
192 x 5 = 960
192 x 6 = 1152
192 x 7 = 1344
192 x 8 = 1536
192 x 9 = 1728
192 x 10 = 1920

multiplication table of 193:
193 x 1 = 193
193 x 2 = 386
193 x 3 = 579
193 x 4 = 772
193 x 5 = 965
193 x 6 = 1158
193 x 7 = 1351
193 x 8 = 1544
193 x 9 = 1737
193 x 10 = 1930

multiplication table of 194:
194 x 1 = 194
194 x 2 = 388
194 x 3 = 582
194 x 4 = 776
194 x 5 = 970
194 x 6 = 1164
194 x 7 = 1358
194 x 8 = 1552
194 x 9 = 1746
194 x 10 = 1940

multiplication table of 195:
195 x 1 = 195
195 x 2 = 390
195 x 3 = 585
195 x 4 = 780
195 x 5 = 975
195 x 6 = 1170
195 x 7 = 1365
195 x 8 = 1560
195 x 9 = 1755
195 x 10 = 1950

multiplication table of 196:
196 x 1 = 196
196 x 2 = 392
196 x 3 = 588
196 x 4 = 784
196 x 5 = 980
196 x 6 = 1176
196 x 7 = 1372
196 x 8 = 1568
196 x 9 = 1764
196 x 10 = 1960

multiplication table of 197:
197 x 1 = 197
197 x 2 = 394
197 x 3 = 591
197 x 4 = 788
197 x 5 = 985
197 x 6 = 1182
197 x 7 = 1379
197 x 8 = 1576
197 x 9 = 1773
197 x 10 = 1970

multiplication table of 198:
198 x 1 = 198
198 x 2 = 396
198 x 3 = 594
198 x 4 = 792
198 x 5 = 990
198 x 6 = 1188
198 x 7 = 1386
198 x 8 = 1584
198 x 9 = 1782
198 x 10 = 1980

multiplication table of 199:
199 x 1 = 199
199 x 2 = 398
199 x 3 = 597
199 x 4 = 796
199 x 5 = 995
199 x 6 = 1194
199 x 7 = 1393
199 x 8 = 1592
199 x 9 = 1791
199 x 10 = 1990

multiplication table of 200:
200 x 1 = 200
200 x 2 = 400
200 x 3 = 600
200 x 4 = 800
200 x 5 = 1000
200 x 6 = 1200
200 x 7 = 1400
200 x 8 = 1600
200 x 9 = 1800
200 x 10 = 2000

In [1]:
# while loop
n = int(input("How many tables?"))

i = 1
while i <= n:
    print(f"multiplication table of {i}:")
    j = 1
    while j <=10:
        print(f"{i} x {j} = {i*j}")
        j += 1
    print()
    i +=1

How many tables?200
multiplication table of 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

multiplication table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

multiplication table of 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

multiplication table of 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

multiplication table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

multiplication table of 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

multiplication table of 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

multiplication table of 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

multiplication table of 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

multiplication table of 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

multiplication table of 11:
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

multiplication table of 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

multiplication table of 13:
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

multiplication table of 14:
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

multiplication table of 15:
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

multiplication table of 16:
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

multiplication table of 17:
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

multiplication table of 18:
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

multiplication table of 19:
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

multiplication table of 20:
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

multiplication table of 21:
21 x 1 = 21
21 x 2 = 42
21 x 3 = 63
21 x 4 = 84
21 x 5 = 105
21 x 6 = 126
21 x 7 = 147
21 x 8 = 168
21 x 9 = 189
21 x 10 = 210

multiplication table of 22:
22 x 1 = 22
22 x 2 = 44
22 x 3 = 66
22 x 4 = 88
22 x 5 = 110
22 x 6 = 132
22 x 7 = 154
22 x 8 = 176
22 x 9 = 198
22 x 10 = 220

multiplication table of 23:
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

multiplication table of 24:
24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

multiplication table of 25:
25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250

multiplication table of 26:
26 x 1 = 26
26 x 2 = 52
26 x 3 = 78
26 x 4 = 104
26 x 5 = 130
26 x 6 = 156
26 x 7 = 182
26 x 8 = 208
26 x 9 = 234
26 x 10 = 260

multiplication table of 27:
27 x 1 = 27
27 x 2 = 54
27 x 3 = 81
27 x 4 = 108
27 x 5 = 135
27 x 6 = 162
27 x 7 = 189
27 x 8 = 216
27 x 9 = 243
27 x 10 = 270

multiplication table of 28:
28 x 1 = 28
28 x 2 = 56
28 x 3 = 84
28 x 4 = 112
28 x 5 = 140
28 x 6 = 168
28 x 7 = 196
28 x 8 = 224
28 x 9 = 252
28 x 10 = 280

multiplication table of 29:
29 x 1 = 29
29 x 2 = 58
29 x 3 = 87
29 x 4 = 116
29 x 5 = 145
29 x 6 = 174
29 x 7 = 203
29 x 8 = 232
29 x 9 = 261
29 x 10 = 290

multiplication table of 30:
30 x 1 = 30
30 x 2 = 60
30 x 3 = 90
30 x 4 = 120
30 x 5 = 150
30 x 6 = 180
30 x 7 = 210
30 x 8 = 240
30 x 9 = 270
30 x 10 = 300

multiplication table of 31:
31 x 1 = 31
31 x 2 = 62
31 x 3 = 93
31 x 4 = 124
31 x 5 = 155
31 x 6 = 186
31 x 7 = 217
31 x 8 = 248
31 x 9 = 279
31 x 10 = 310

multiplication table of 32:
32 x 1 = 32
32 x 2 = 64
32 x 3 = 96
32 x 4 = 128
32 x 5 = 160
32 x 6 = 192
32 x 7 = 224
32 x 8 = 256
32 x 9 = 288
32 x 10 = 320

multiplication table of 33:
33 x 1 = 33
33 x 2 = 66
33 x 3 = 99
33 x 4 = 132
33 x 5 = 165
33 x 6 = 198
33 x 7 = 231
33 x 8 = 264
33 x 9 = 297
33 x 10 = 330

multiplication table of 34:
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

multiplication table of 35:
35 x 1 = 35
35 x 2 = 70
35 x 3 = 105
35 x 4 = 140
35 x 5 = 175
35 x 6 = 210
35 x 7 = 245
35 x 8 = 280
35 x 9 = 315
35 x 10 = 350

multiplication table of 36:
36 x 1 = 36
36 x 2 = 72
36 x 3 = 108
36 x 4 = 144
36 x 5 = 180
36 x 6 = 216
36 x 7 = 252
36 x 8 = 288
36 x 9 = 324
36 x 10 = 360

multiplication table of 37:
37 x 1 = 37
37 x 2 = 74
37 x 3 = 111
37 x 4 = 148
37 x 5 = 185
37 x 6 = 222
37 x 7 = 259
37 x 8 = 296
37 x 9 = 333
37 x 10 = 370

multiplication table of 38:
38 x 1 = 38
38 x 2 = 76
38 x 3 = 114
38 x 4 = 152
38 x 5 = 190
38 x 6 = 228
38 x 7 = 266
38 x 8 = 304
38 x 9 = 342
38 x 10 = 380

multiplication table of 39:
39 x 1 = 39
39 x 2 = 78
39 x 3 = 117
39 x 4 = 156
39 x 5 = 195
39 x 6 = 234
39 x 7 = 273
39 x 8 = 312
39 x 9 = 351
39 x 10 = 390

multiplication table of 40:
40 x 1 = 40
40 x 2 = 80
40 x 3 = 120
40 x 4 = 160
40 x 5 = 200
40 x 6 = 240
40 x 7 = 280
40 x 8 = 320
40 x 9 = 360
40 x 10 = 400

multiplication table of 41:
41 x 1 = 41
41 x 2 = 82
41 x 3 = 123
41 x 4 = 164
41 x 5 = 205
41 x 6 = 246
41 x 7 = 287
41 x 8 = 328
41 x 9 = 369
41 x 10 = 410

multiplication table of 42:
42 x 1 = 42
42 x 2 = 84
42 x 3 = 126
42 x 4 = 168
42 x 5 = 210
42 x 6 = 252
42 x 7 = 294
42 x 8 = 336
42 x 9 = 378
42 x 10 = 420

multiplication table of 43:
43 x 1 = 43
43 x 2 = 86
43 x 3 = 129
43 x 4 = 172
43 x 5 = 215
43 x 6 = 258
43 x 7 = 301
43 x 8 = 344
43 x 9 = 387
43 x 10 = 430

multiplication table of 44:
44 x 1 = 44
44 x 2 = 88
44 x 3 = 132
44 x 4 = 176
44 x 5 = 220
44 x 6 = 264
44 x 7 = 308
44 x 8 = 352
44 x 9 = 396
44 x 10 = 440

multiplication table of 45:
45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

multiplication table of 46:
46 x 1 = 46
46 x 2 = 92
46 x 3 = 138
46 x 4 = 184
46 x 5 = 230
46 x 6 = 276
46 x 7 = 322
46 x 8 = 368
46 x 9 = 414
46 x 10 = 460

multiplication table of 47:
47 x 1 = 47
47 x 2 = 94
47 x 3 = 141
47 x 4 = 188
47 x 5 = 235
47 x 6 = 282
47 x 7 = 329
47 x 8 = 376
47 x 9 = 423
47 x 10 = 470

multiplication table of 48:
48 x 1 = 48
48 x 2 = 96
48 x 3 = 144
48 x 4 = 192
48 x 5 = 240
48 x 6 = 288
48 x 7 = 336
48 x 8 = 384
48 x 9 = 432
48 x 10 = 480

multiplication table of 49:
49 x 1 = 49
49 x 2 = 98
49 x 3 = 147
49 x 4 = 196
49 x 5 = 245
49 x 6 = 294
49 x 7 = 343
49 x 8 = 392
49 x 9 = 441
49 x 10 = 490

multiplication table of 50:
50 x 1 = 50
50 x 2 = 100
50 x 3 = 150
50 x 4 = 200
50 x 5 = 250
50 x 6 = 300
50 x 7 = 350
50 x 8 = 400
50 x 9 = 450
50 x 10 = 500

multiplication table of 51:
51 x 1 = 51
51 x 2 = 102
51 x 3 = 153
51 x 4 = 204
51 x 5 = 255
51 x 6 = 306
51 x 7 = 357
51 x 8 = 408
51 x 9 = 459
51 x 10 = 510

multiplication table of 52:
52 x 1 = 52
52 x 2 = 104
52 x 3 = 156
52 x 4 = 208
52 x 5 = 260
52 x 6 = 312
52 x 7 = 364
52 x 8 = 416
52 x 9 = 468
52 x 10 = 520

multiplication table of 53:
53 x 1 = 53
53 x 2 = 106
53 x 3 = 159
53 x 4 = 212
53 x 5 = 265
53 x 6 = 318
53 x 7 = 371
53 x 8 = 424
53 x 9 = 477
53 x 10 = 530

multiplication table of 54:
54 x 1 = 54
54 x 2 = 108
54 x 3 = 162
54 x 4 = 216
54 x 5 = 270
54 x 6 = 324
54 x 7 = 378
54 x 8 = 432
54 x 9 = 486
54 x 10 = 540

multiplication table of 55:
55 x 1 = 55
55 x 2 = 110
55 x 3 = 165
55 x 4 = 220
55 x 5 = 275
55 x 6 = 330
55 x 7 = 385
55 x 8 = 440
55 x 9 = 495
55 x 10 = 550

multiplication table of 56:
56 x 1 = 56
56 x 2 = 112
56 x 3 = 168
56 x 4 = 224
56 x 5 = 280
56 x 6 = 336
56 x 7 = 392
56 x 8 = 448
56 x 9 = 504
56 x 10 = 560

multiplication table of 57:
57 x 1 = 57
57 x 2 = 114
57 x 3 = 171
57 x 4 = 228
57 x 5 = 285
57 x 6 = 342
57 x 7 = 399
57 x 8 = 456
57 x 9 = 513
57 x 10 = 570

multiplication table of 58:
58 x 1 = 58
58 x 2 = 116
58 x 3 = 174
58 x 4 = 232
58 x 5 = 290
58 x 6 = 348
58 x 7 = 406
58 x 8 = 464
58 x 9 = 522
58 x 10 = 580

multiplication table of 59:
59 x 1 = 59
59 x 2 = 118
59 x 3 = 177
59 x 4 = 236
59 x 5 = 295
59 x 6 = 354
59 x 7 = 413
59 x 8 = 472
59 x 9 = 531
59 x 10 = 590

multiplication table of 60:
60 x 1 = 60
60 x 2 = 120
60 x 3 = 180
60 x 4 = 240
60 x 5 = 300
60 x 6 = 360
60 x 7 = 420
60 x 8 = 480
60 x 9 = 540
60 x 10 = 600

multiplication table of 61:
61 x 1 = 61
61 x 2 = 122
61 x 3 = 183
61 x 4 = 244
61 x 5 = 305
61 x 6 = 366
61 x 7 = 427
61 x 8 = 488
61 x 9 = 549
61 x 10 = 610

multiplication table of 62:
62 x 1 = 62
62 x 2 = 124
62 x 3 = 186
62 x 4 = 248
62 x 5 = 310
62 x 6 = 372
62 x 7 = 434
62 x 8 = 496
62 x 9 = 558
62 x 10 = 620

multiplication table of 63:
63 x 1 = 63
63 x 2 = 126
63 x 3 = 189
63 x 4 = 252
63 x 5 = 315
63 x 6 = 378
63 x 7 = 441
63 x 8 = 504
63 x 9 = 567
63 x 10 = 630

multiplication table of 64:
64 x 1 = 64
64 x 2 = 128
64 x 3 = 192
64 x 4 = 256
64 x 5 = 320
64 x 6 = 384
64 x 7 = 448
64 x 8 = 512
64 x 9 = 576
64 x 10 = 640

multiplication table of 65:
65 x 1 = 65
65 x 2 = 130
65 x 3 = 195
65 x 4 = 260
65 x 5 = 325
65 x 6 = 390
65 x 7 = 455
65 x 8 = 520
65 x 9 = 585
65 x 10 = 650

multiplication table of 66:
66 x 1 = 66
66 x 2 = 132
66 x 3 = 198
66 x 4 = 264
66 x 5 = 330
66 x 6 = 396
66 x 7 = 462
66 x 8 = 528
66 x 9 = 594
66 x 10 = 660

multiplication table of 67:
67 x 1 = 67
67 x 2 = 134
67 x 3 = 201
67 x 4 = 268
67 x 5 = 335
67 x 6 = 402
67 x 7 = 469
67 x 8 = 536
67 x 9 = 603
67 x 10 = 670

multiplication table of 68:
68 x 1 = 68
68 x 2 = 136
68 x 3 = 204
68 x 4 = 272
68 x 5 = 340
68 x 6 = 408
68 x 7 = 476
68 x 8 = 544
68 x 9 = 612
68 x 10 = 680

multiplication table of 69:
69 x 1 = 69
69 x 2 = 138
69 x 3 = 207
69 x 4 = 276
69 x 5 = 345
69 x 6 = 414
69 x 7 = 483
69 x 8 = 552
69 x 9 = 621
69 x 10 = 690

multiplication table of 70:
70 x 1 = 70
70 x 2 = 140
70 x 3 = 210
70 x 4 = 280
70 x 5 = 350
70 x 6 = 420
70 x 7 = 490
70 x 8 = 560
70 x 9 = 630
70 x 10 = 700

multiplication table of 71:
71 x 1 = 71
71 x 2 = 142
71 x 3 = 213
71 x 4 = 284
71 x 5 = 355
71 x 6 = 426
71 x 7 = 497
71 x 8 = 568
71 x 9 = 639
71 x 10 = 710

multiplication table of 72:
72 x 1 = 72
72 x 2 = 144
72 x 3 = 216
72 x 4 = 288
72 x 5 = 360
72 x 6 = 432
72 x 7 = 504
72 x 8 = 576
72 x 9 = 648
72 x 10 = 720

multiplication table of 73:
73 x 1 = 73
73 x 2 = 146
73 x 3 = 219
73 x 4 = 292
73 x 5 = 365
73 x 6 = 438
73 x 7 = 511
73 x 8 = 584
73 x 9 = 657
73 x 10 = 730

multiplication table of 74:
74 x 1 = 74
74 x 2 = 148
74 x 3 = 222
74 x 4 = 296
74 x 5 = 370
74 x 6 = 444
74 x 7 = 518
74 x 8 = 592
74 x 9 = 666
74 x 10 = 740

multiplication table of 75:
75 x 1 = 75
75 x 2 = 150
75 x 3 = 225
75 x 4 = 300
75 x 5 = 375
75 x 6 = 450
75 x 7 = 525
75 x 8 = 600
75 x 9 = 675
75 x 10 = 750

multiplication table of 76:
76 x 1 = 76
76 x 2 = 152
76 x 3 = 228
76 x 4 = 304
76 x 5 = 380
76 x 6 = 456
76 x 7 = 532
76 x 8 = 608
76 x 9 = 684
76 x 10 = 760

multiplication table of 77:
77 x 1 = 77
77 x 2 = 154
77 x 3 = 231
77 x 4 = 308
77 x 5 = 385
77 x 6 = 462
77 x 7 = 539
77 x 8 = 616
77 x 9 = 693
77 x 10 = 770

multiplication table of 78:
78 x 1 = 78
78 x 2 = 156
78 x 3 = 234
78 x 4 = 312
78 x 5 = 390
78 x 6 = 468
78 x 7 = 546
78 x 8 = 624
78 x 9 = 702
78 x 10 = 780

multiplication table of 79:
79 x 1 = 79
79 x 2 = 158
79 x 3 = 237
79 x 4 = 316
79 x 5 = 395
79 x 6 = 474
79 x 7 = 553
79 x 8 = 632
79 x 9 = 711
79 x 10 = 790

multiplication table of 80:
80 x 1 = 80
80 x 2 = 160
80 x 3 = 240
80 x 4 = 320
80 x 5 = 400
80 x 6 = 480
80 x 7 = 560
80 x 8 = 640
80 x 9 = 720
80 x 10 = 800

multiplication table of 81:
81 x 1 = 81
81 x 2 = 162
81 x 3 = 243
81 x 4 = 324
81 x 5 = 405
81 x 6 = 486
81 x 7 = 567
81 x 8 = 648
81 x 9 = 729
81 x 10 = 810

multiplication table of 82:
82 x 1 = 82
82 x 2 = 164
82 x 3 = 246
82 x 4 = 328
82 x 5 = 410
82 x 6 = 492
82 x 7 = 574
82 x 8 = 656
82 x 9 = 738
82 x 10 = 820

multiplication table of 83:
83 x 1 = 83
83 x 2 = 166
83 x 3 = 249
83 x 4 = 332
83 x 5 = 415
83 x 6 = 498
83 x 7 = 581
83 x 8 = 664
83 x 9 = 747
83 x 10 = 830

multiplication table of 84:
84 x 1 = 84
84 x 2 = 168
84 x 3 = 252
84 x 4 = 336
84 x 5 = 420
84 x 6 = 504
84 x 7 = 588
84 x 8 = 672
84 x 9 = 756
84 x 10 = 840

multiplication table of 85:
85 x 1 = 85
85 x 2 = 170
85 x 3 = 255
85 x 4 = 340
85 x 5 = 425
85 x 6 = 510
85 x 7 = 595
85 x 8 = 680
85 x 9 = 765
85 x 10 = 850

multiplication table of 86:
86 x 1 = 86
86 x 2 = 172
86 x 3 = 258
86 x 4 = 344
86 x 5 = 430
86 x 6 = 516
86 x 7 = 602
86 x 8 = 688
86 x 9 = 774
86 x 10 = 860

multiplication table of 87:
87 x 1 = 87
87 x 2 = 174
87 x 3 = 261
87 x 4 = 348
87 x 5 = 435
87 x 6 = 522
87 x 7 = 609
87 x 8 = 696
87 x 9 = 783
87 x 10 = 870

multiplication table of 88:
88 x 1 = 88
88 x 2 = 176
88 x 3 = 264
88 x 4 = 352
88 x 5 = 440
88 x 6 = 528
88 x 7 = 616
88 x 8 = 704
88 x 9 = 792
88 x 10 = 880

multiplication table of 89:
89 x 1 = 89
89 x 2 = 178
89 x 3 = 267
89 x 4 = 356
89 x 5 = 445
89 x 6 = 534
89 x 7 = 623
89 x 8 = 712
89 x 9 = 801
89 x 10 = 890

multiplication table of 90:
90 x 1 = 90
90 x 2 = 180
90 x 3 = 270
90 x 4 = 360
90 x 5 = 450
90 x 6 = 540
90 x 7 = 630
90 x 8 = 720
90 x 9 = 810
90 x 10 = 900

multiplication table of 91:
91 x 1 = 91
91 x 2 = 182
91 x 3 = 273
91 x 4 = 364
91 x 5 = 455
91 x 6 = 546
91 x 7 = 637
91 x 8 = 728
91 x 9 = 819
91 x 10 = 910

multiplication table of 92:
92 x 1 = 92
92 x 2 = 184
92 x 3 = 276
92 x 4 = 368
92 x 5 = 460
92 x 6 = 552
92 x 7 = 644
92 x 8 = 736
92 x 9 = 828
92 x 10 = 920

multiplication table of 93:
93 x 1 = 93
93 x 2 = 186
93 x 3 = 279
93 x 4 = 372
93 x 5 = 465
93 x 6 = 558
93 x 7 = 651
93 x 8 = 744
93 x 9 = 837
93 x 10 = 930

multiplication table of 94:
94 x 1 = 94
94 x 2 = 188
94 x 3 = 282
94 x 4 = 376
94 x 5 = 470
94 x 6 = 564
94 x 7 = 658
94 x 8 = 752
94 x 9 = 846
94 x 10 = 940

multiplication table of 95:
95 x 1 = 95
95 x 2 = 190
95 x 3 = 285
95 x 4 = 380
95 x 5 = 475
95 x 6 = 570
95 x 7 = 665
95 x 8 = 760
95 x 9 = 855
95 x 10 = 950

multiplication table of 96:
96 x 1 = 96
96 x 2 = 192
96 x 3 = 288
96 x 4 = 384
96 x 5 = 480
96 x 6 = 576
96 x 7 = 672
96 x 8 = 768
96 x 9 = 864
96 x 10 = 960

multiplication table of 97:
97 x 1 = 97
97 x 2 = 194
97 x 3 = 291
97 x 4 = 388
97 x 5 = 485
97 x 6 = 582
97 x 7 = 679
97 x 8 = 776
97 x 9 = 873
97 x 10 = 970

multiplication table of 98:
98 x 1 = 98
98 x 2 = 196
98 x 3 = 294
98 x 4 = 392
98 x 5 = 490
98 x 6 = 588
98 x 7 = 686
98 x 8 = 784
98 x 9 = 882
98 x 10 = 980

multiplication table of 99:
99 x 1 = 99
99 x 2 = 198
99 x 3 = 297
99 x 4 = 396
99 x 5 = 495
99 x 6 = 594
99 x 7 = 693
99 x 8 = 792
99 x 9 = 891
99 x 10 = 990

multiplication table of 100:
100 x 1 = 100
100 x 2 = 200
100 x 3 = 300
100 x 4 = 400
100 x 5 = 500
100 x 6 = 600
100 x 7 = 700
100 x 8 = 800
100 x 9 = 900
100 x 10 = 1000

multiplication table of 101:
101 x 1 = 101
101 x 2 = 202
101 x 3 = 303
101 x 4 = 404
101 x 5 = 505
101 x 6 = 606
101 x 7 = 707
101 x 8 = 808
101 x 9 = 909
101 x 10 = 1010

multiplication table of 102:
102 x 1 = 102
102 x 2 = 204
102 x 3 = 306
102 x 4 = 408
102 x 5 = 510
102 x 6 = 612
102 x 7 = 714
102 x 8 = 816
102 x 9 = 918
102 x 10 = 1020

multiplication table of 103:
103 x 1 = 103
103 x 2 = 206
103 x 3 = 309
103 x 4 = 412
103 x 5 = 515
103 x 6 = 618
103 x 7 = 721
103 x 8 = 824
103 x 9 = 927
103 x 10 = 1030

multiplication table of 104:
104 x 1 = 104
104 x 2 = 208
104 x 3 = 312
104 x 4 = 416
104 x 5 = 520
104 x 6 = 624
104 x 7 = 728
104 x 8 = 832
104 x 9 = 936
104 x 10 = 1040

multiplication table of 105:
105 x 1 = 105
105 x 2 = 210
105 x 3 = 315
105 x 4 = 420
105 x 5 = 525
105 x 6 = 630
105 x 7 = 735
105 x 8 = 840
105 x 9 = 945
105 x 10 = 1050

multiplication table of 106:
106 x 1 = 106
106 x 2 = 212
106 x 3 = 318
106 x 4 = 424
106 x 5 = 530
106 x 6 = 636
106 x 7 = 742
106 x 8 = 848
106 x 9 = 954
106 x 10 = 1060

multiplication table of 107:
107 x 1 = 107
107 x 2 = 214
107 x 3 = 321
107 x 4 = 428
107 x 5 = 535
107 x 6 = 642
107 x 7 = 749
107 x 8 = 856
107 x 9 = 963
107 x 10 = 1070

multiplication table of 108:
108 x 1 = 108
108 x 2 = 216
108 x 3 = 324
108 x 4 = 432
108 x 5 = 540
108 x 6 = 648
108 x 7 = 756
108 x 8 = 864
108 x 9 = 972
108 x 10 = 1080

multiplication table of 109:
109 x 1 = 109
109 x 2 = 218
109 x 3 = 327
109 x 4 = 436
109 x 5 = 545
109 x 6 = 654
109 x 7 = 763
109 x 8 = 872
109 x 9 = 981
109 x 10 = 1090

multiplication table of 110:
110 x 1 = 110
110 x 2 = 220
110 x 3 = 330
110 x 4 = 440
110 x 5 = 550
110 x 6 = 660
110 x 7 = 770
110 x 8 = 880
110 x 9 = 990
110 x 10 = 1100

multiplication table of 111:
111 x 1 = 111
111 x 2 = 222
111 x 3 = 333
111 x 4 = 444
111 x 5 = 555
111 x 6 = 666
111 x 7 = 777
111 x 8 = 888
111 x 9 = 999
111 x 10 = 1110

multiplication table of 112:
112 x 1 = 112
112 x 2 = 224
112 x 3 = 336
112 x 4 = 448
112 x 5 = 560
112 x 6 = 672
112 x 7 = 784
112 x 8 = 896
112 x 9 = 1008
112 x 10 = 1120

multiplication table of 113:
113 x 1 = 113
113 x 2 = 226
113 x 3 = 339
113 x 4 = 452
113 x 5 = 565
113 x 6 = 678
113 x 7 = 791
113 x 8 = 904
113 x 9 = 1017
113 x 10 = 1130

multiplication table of 114:
114 x 1 = 114
114 x 2 = 228
114 x 3 = 342
114 x 4 = 456
114 x 5 = 570
114 x 6 = 684
114 x 7 = 798
114 x 8 = 912
114 x 9 = 1026
114 x 10 = 1140

multiplication table of 115:
115 x 1 = 115
115 x 2 = 230
115 x 3 = 345
115 x 4 = 460
115 x 5 = 575
115 x 6 = 690
115 x 7 = 805
115 x 8 = 920
115 x 9 = 1035
115 x 10 = 1150

multiplication table of 116:
116 x 1 = 116
116 x 2 = 232
116 x 3 = 348
116 x 4 = 464
116 x 5 = 580
116 x 6 = 696
116 x 7 = 812
116 x 8 = 928
116 x 9 = 1044
116 x 10 = 1160

multiplication table of 117:
117 x 1 = 117
117 x 2 = 234
117 x 3 = 351
117 x 4 = 468
117 x 5 = 585
117 x 6 = 702
117 x 7 = 819
117 x 8 = 936
117 x 9 = 1053
117 x 10 = 1170

multiplication table of 118:
118 x 1 = 118
118 x 2 = 236
118 x 3 = 354
118 x 4 = 472
118 x 5 = 590
118 x 6 = 708
118 x 7 = 826
118 x 8 = 944
118 x 9 = 1062
118 x 10 = 1180

multiplication table of 119:
119 x 1 = 119
119 x 2 = 238
119 x 3 = 357
119 x 4 = 476
119 x 5 = 595
119 x 6 = 714
119 x 7 = 833
119 x 8 = 952
119 x 9 = 1071
119 x 10 = 1190

multiplication table of 120:
120 x 1 = 120
120 x 2 = 240
120 x 3 = 360
120 x 4 = 480
120 x 5 = 600
120 x 6 = 720
120 x 7 = 840
120 x 8 = 960
120 x 9 = 1080
120 x 10 = 1200

multiplication table of 121:
121 x 1 = 121
121 x 2 = 242
121 x 3 = 363
121 x 4 = 484
121 x 5 = 605
121 x 6 = 726
121 x 7 = 847
121 x 8 = 968
121 x 9 = 1089
121 x 10 = 1210

multiplication table of 122:
122 x 1 = 122
122 x 2 = 244
122 x 3 = 366
122 x 4 = 488
122 x 5 = 610
122 x 6 = 732
122 x 7 = 854
122 x 8 = 976
122 x 9 = 1098
122 x 10 = 1220

multiplication table of 123:
123 x 1 = 123
123 x 2 = 246
123 x 3 = 369
123 x 4 = 492
123 x 5 = 615
123 x 6 = 738
123 x 7 = 861
123 x 8 = 984
123 x 9 = 1107
123 x 10 = 1230

multiplication table of 124:
124 x 1 = 124
124 x 2 = 248
124 x 3 = 372
124 x 4 = 496
124 x 5 = 620
124 x 6 = 744
124 x 7 = 868
124 x 8 = 992
124 x 9 = 1116
124 x 10 = 1240

multiplication table of 125:
125 x 1 = 125
125 x 2 = 250
125 x 3 = 375
125 x 4 = 500
125 x 5 = 625

125 x 6 = 750
125 x 7 = 875
125 x 8 = 1000
125 x 9 = 1125
125 x 10 = 1250

multiplication table of 126:
126 x 1 = 126
126 x 2 = 252
126 x 3 = 378
126 x 4 = 504
126 x 5 = 630
126 x 6 = 756
126 x 7 = 882
126 x 8 = 1008
126 x 9 = 1134
126 x 10 = 1260

multiplication table of 127:
127 x 1 = 127
127 x 2 = 254
127 x 3 = 381
127 x 4 = 508
127 x 5 = 635
127 x 6 = 762
127 x 7 = 889
127 x 8 = 1016
127 x 9 = 1143
127 x 10 = 1270

multiplication table of 128:
128 x 1 = 128
128 x 2 = 256
128 x 3 = 384
128 x 4 = 512
128 x 5 = 640
128 x 6 = 768
128 x 7 = 896
128 x 8 = 1024
128 x 9 = 1152
128 x 10 = 1280

multiplication table of 129:
129 x 1 = 129
129 x 2 = 258
129 x 3 = 387
129 x 4 = 516
129 x 5 = 645
129 x 6 = 774
129 x 7 = 903
129 x 8 = 1032
129 x 9 = 1161
129 x 10 = 1290

multiplication table of 130:
130 x 1 = 130
130 x 2 = 260
130 x 3 = 390
130 x 4 = 520
130 x 5 = 650
130 x 6 = 780
130 x 7 = 910
130 x 8 = 1040
130 x 9 = 1170
130 x 10 = 1300

multiplication table of 131:
131 x 1 = 131
131 x 2 = 262
131 x 3 = 393
131 x 4 = 524
131 x 5 = 655
131 x 6 = 786
131 x 7 = 917
131 x 8 = 1048
131 x 9 = 1179
131 x 10 = 1310

multiplication table of 132:
132 x 1 = 132
132 x 2 = 264
132 x 3 = 396
132 x 4 = 528
132 x 5 = 660
132 x 6 = 792
132 x 7 = 924
132 x 8 = 1056
132 x 9 = 1188
132 x 10 = 1320

multiplication table of 133:
133 x 1 = 133
133 x 2 = 266
133 x 3 = 399
133 x 4 = 532
133 x 5 = 665
133 x 6 = 798
133 x 7 = 931
133 x 8 = 1064
133 x 9 = 1197
133 x 10 = 1330

multiplication table of 134:
134 x 1 = 134
134 x 2 = 268
134 x 3 = 402
134 x 4 = 536
134 x 5 = 670
134 x 6 = 804
134 x 7 = 938
134 x 8 = 1072
134 x 9 = 1206
134 x 10 = 1340

multiplication table of 135:
135 x 1 = 135
135 x 2 = 270
135 x 3 = 405
135 x 4 = 540
135 x 5 = 675
135 x 6 = 810
135 x 7 = 945
135 x 8 = 1080
135 x 9 = 1215
135 x 10 = 1350

multiplication table of 136:
136 x 1 = 136
136 x 2 = 272
136 x 3 = 408
136 x 4 = 544
136 x 5 = 680
136 x 6 = 816
136 x 7 = 952
136 x 8 = 1088
136 x 9 = 1224
136 x 10 = 1360

multiplication table of 137:
137 x 1 = 137
137 x 2 = 274
137 x 3 = 411
137 x 4 = 548
137 x 5 = 685
137 x 6 = 822
137 x 7 = 959
137 x 8 = 1096
137 x 9 = 1233
137 x 10 = 1370

multiplication table of 138:
138 x 1 = 138
138 x 2 = 276
138 x 3 = 414
138 x 4 = 552
138 x 5 = 690
138 x 6 = 828
138 x 7 = 966
138 x 8 = 1104
138 x 9 = 1242
138 x 10 = 1380

multiplication table of 139:
139 x 1 = 139
139 x 2 = 278
139 x 3 = 417
139 x 4 = 556
139 x 5 = 695
139 x 6 = 834
139 x 7 = 973
139 x 8 = 1112
139 x 9 = 1251
139 x 10 = 1390

multiplication table of 140:
140 x 1 = 140
140 x 2 = 280
140 x 3 = 420
140 x 4 = 560
140 x 5 = 700
140 x 6 = 840
140 x 7 = 980
140 x 8 = 1120
140 x 9 = 1260
140 x 10 = 1400

multiplication table of 141:
141 x 1 = 141
141 x 2 = 282
141 x 3 = 423
141 x 4 = 564
141 x 5 = 705
141 x 6 = 846
141 x 7 = 987
141 x 8 = 1128
141 x 9 = 1269
141 x 10 = 1410

multiplication table of 142:
142 x 1 = 142
142 x 2 = 284
142 x 3 = 426
142 x 4 = 568
142 x 5 = 710
142 x 6 = 852
142 x 7 = 994
142 x 8 = 1136
142 x 9 = 1278
142 x 10 = 1420

multiplication table of 143:
143 x 1 = 143
143 x 2 = 286
143 x 3 = 429
143 x 4 = 572
143 x 5 = 715
143 x 6 = 858
143 x 7 = 1001
143 x 8 = 1144
143 x 9 = 1287
143 x 10 = 1430

multiplication table of 144:
144 x 1 = 144
144 x 2 = 288
144 x 3 = 432
144 x 4 = 576
144 x 5 = 720
144 x 6 = 864
144 x 7 = 1008
144 x 8 = 1152
144 x 9 = 1296
144 x 10 = 1440

multiplication table of 145:
145 x 1 = 145
145 x 2 = 290
145 x 3 = 435
145 x 4 = 580
145 x 5 = 725
145 x 6 = 870
145 x 7 = 1015
145 x 8 = 1160
145 x 9 = 1305
145 x 10 = 1450

multiplication table of 146:
146 x 1 = 146
146 x 2 = 292
146 x 3 = 438
146 x 4 = 584
146 x 5 = 730
146 x 6 = 876
146 x 7 = 1022
146 x 8 = 1168
146 x 9 = 1314
146 x 10 = 1460

multiplication table of 147:
147 x 1 = 147
147 x 2 = 294
147 x 3 = 441
147 x 4 = 588
147 x 5 = 735
147 x 6 = 882
147 x 7 = 1029
147 x 8 = 1176
147 x 9 = 1323
147 x 10 = 1470

multiplication table of 148:
148 x 1 = 148
148 x 2 = 296
148 x 3 = 444
148 x 4 = 592
148 x 5 = 740
148 x 6 = 888
148 x 7 = 1036
148 x 8 = 1184
148 x 9 = 1332
148 x 10 = 1480

multiplication table of 149:
149 x 1 = 149
149 x 2 = 298
149 x 3 = 447
149 x 4 = 596
149 x 5 = 745
149 x 6 = 894
149 x 7 = 1043
149 x 8 = 1192
149 x 9 = 1341
149 x 10 = 1490

multiplication table of 150:
150 x 1 = 150
150 x 2 = 300
150 x 3 = 450
150 x 4 = 600
150 x 5 = 750
150 x 6 = 900
150 x 7 = 1050
150 x 8 = 1200
150 x 9 = 1350
150 x 10 = 1500

multiplication table of 151:
151 x 1 = 151
151 x 2 = 302
151 x 3 = 453
151 x 4 = 604
151 x 5 = 755
151 x 6 = 906
151 x 7 = 1057
151 x 8 = 1208
151 x 9 = 1359
151 x 10 = 1510

multiplication table of 152:
152 x 1 = 152
152 x 2 = 304
152 x 3 = 456
152 x 4 = 608
152 x 5 = 760
152 x 6 = 912
152 x 7 = 1064
152 x 8 = 1216
152 x 9 = 1368
152 x 10 = 1520

multiplication table of 153:
153 x 1 = 153
153 x 2 = 306
153 x 3 = 459
153 x 4 = 612
153 x 5 = 765
153 x 6 = 918
153 x 7 = 1071
153 x 8 = 1224
153 x 9 = 1377
153 x 10 = 1530

multiplication table of 154:
154 x 1 = 154
154 x 2 = 308
154 x 3 = 462
154 x 4 = 616
154 x 5 = 770
154 x 6 = 924
154 x 7 = 1078
154 x 8 = 1232
154 x 9 = 1386
154 x 10 = 1540

multiplication table of 155:
155 x 1 = 155
155 x 2 = 310
155 x 3 = 465
155 x 4 = 620
155 x 5 = 775
155 x 6 = 930
155 x 7 = 1085
155 x 8 = 1240
155 x 9 = 1395
155 x 10 = 1550

multiplication table of 156:
156 x 1 = 156
156 x 2 = 312
156 x 3 = 468
156 x 4 = 624
156 x 5 = 780
156 x 6 = 936
156 x 7 = 1092
156 x 8 = 1248
156 x 9 = 1404
156 x 10 = 1560

multiplication table of 157:
157 x 1 = 157
157 x 2 = 314
157 x 3 = 471
157 x 4 = 628
157 x 5 = 785
157 x 6 = 942
157 x 7 = 1099
157 x 8 = 1256
157 x 9 = 1413
157 x 10 = 1570

multiplication table of 158:
158 x 1 = 158
158 x 2 = 316
158 x 3 = 474
158 x 4 = 632
158 x 5 = 790
158 x 6 = 948
158 x 7 = 1106
158 x 8 = 1264
158 x 9 = 1422
158 x 10 = 1580

multiplication table of 159:
159 x 1 = 159
159 x 2 = 318
159 x 3 = 477
159 x 4 = 636
159 x 5 = 795
159 x 6 = 954
159 x 7 = 1113
159 x 8 = 1272
159 x 9 = 1431
159 x 10 = 1590

multiplication table of 160:
160 x 1 = 160
160 x 2 = 320
160 x 3 = 480
160 x 4 = 640
160 x 5 = 800
160 x 6 = 960
160 x 7 = 1120
160 x 8 = 1280
160 x 9 = 1440
160 x 10 = 1600

multiplication table of 161:
161 x 1 = 161
161 x 2 = 322
161 x 3 = 483
161 x 4 = 644
161 x 5 = 805
161 x 6 = 966
161 x 7 = 1127
161 x 8 = 1288
161 x 9 = 1449
161 x 10 = 1610

multiplication table of 162:
162 x 1 = 162
162 x 2 = 324
162 x 3 = 486
162 x 4 = 648
162 x 5 = 810
162 x 6 = 972
162 x 7 = 1134
162 x 8 = 1296
162 x 9 = 1458
162 x 10 = 1620

multiplication table of 163:
163 x 1 = 163
163 x 2 = 326
163 x 3 = 489
163 x 4 = 652
163 x 5 = 815
163 x 6 = 978
163 x 7 = 1141
163 x 8 = 1304
163 x 9 = 1467
163 x 10 = 1630

multiplication table of 164:
164 x 1 = 164
164 x 2 = 328
164 x 3 = 492
164 x 4 = 656
164 x 5 = 820
164 x 6 = 984
164 x 7 = 1148
164 x 8 = 1312
164 x 9 = 1476
164 x 10 = 1640

multiplication table of 165:
165 x 1 = 165
165 x 2 = 330
165 x 3 = 495
165 x 4 = 660
165 x 5 = 825
165 x 6 = 990
165 x 7 = 1155
165 x 8 = 1320
165 x 9 = 1485
165 x 10 = 1650

multiplication table of 166:
166 x 1 = 166
166 x 2 = 332
166 x 3 = 498
166 x 4 = 664
166 x 5 = 830
166 x 6 = 996
166 x 7 = 1162
166 x 8 = 1328
166 x 9 = 1494
166 x 10 = 1660

multiplication table of 167:
167 x 1 = 167
167 x 2 = 334
167 x 3 = 501
167 x 4 = 668
167 x 5 = 835
167 x 6 = 1002
167 x 7 = 1169
167 x 8 = 1336
167 x 9 = 1503
167 x 10 = 1670

multiplication table of 168:
168 x 1 = 168
168 x 2 = 336
168 x 3 = 504
168 x 4 = 672
168 x 5 = 840
168 x 6 = 1008
168 x 7 = 1176
168 x 8 = 1344
168 x 9 = 1512
168 x 10 = 1680

multiplication table of 169:
169 x 1 = 169
169 x 2 = 338
169 x 3 = 507
169 x 4 = 676
169 x 5 = 845
169 x 6 = 1014
169 x 7 = 1183
169 x 8 = 1352
169 x 9 = 1521
169 x 10 = 1690

multiplication table of 170:
170 x 1 = 170
170 x 2 = 340
170 x 3 = 510
170 x 4 = 680
170 x 5 = 850
170 x 6 = 1020
170 x 7 = 1190
170 x 8 = 1360
170 x 9 = 1530
170 x 10 = 1700

multiplication table of 171:
171 x 1 = 171
171 x 2 = 342
171 x 3 = 513
171 x 4 = 684
171 x 5 = 855
171 x 6 = 1026
171 x 7 = 1197
171 x 8 = 1368
171 x 9 = 1539
171 x 10 = 1710

multiplication table of 172:
172 x 1 = 172
172 x 2 = 344
172 x 3 = 516
172 x 4 = 688
172 x 5 = 860
172 x 6 = 1032
172 x 7 = 1204
172 x 8 = 1376
172 x 9 = 1548
172 x 10 = 1720

multiplication table of 173:
173 x 1 = 173
173 x 2 = 346
173 x 3 = 519
173 x 4 = 692
173 x 5 = 865
173 x 6 = 1038
173 x 7 = 1211
173 x 8 = 1384
173 x 9 = 1557
173 x 10 = 1730

multiplication table of 174:
174 x 1 = 174
174 x 2 = 348
174 x 3 = 522
174 x 4 = 696
174 x 5 = 870
174 x 6 = 1044
174 x 7 = 1218
174 x 8 = 1392
174 x 9 = 1566
174 x 10 = 1740

multiplication table of 175:
175 x 1 = 175
175 x 2 = 350
175 x 3 = 525
175 x 4 = 700
175 x 5 = 875
175 x 6 = 1050
175 x 7 = 1225
175 x 8 = 1400
175 x 9 = 1575
175 x 10 = 1750

multiplication table of 176:
176 x 1 = 176
176 x 2 = 352
176 x 3 = 528
176 x 4 = 704
176 x 5 = 880
176 x 6 = 1056
176 x 7 = 1232
176 x 8 = 1408
176 x 9 = 1584
176 x 10 = 1760

multiplication table of 177:
177 x 1 = 177
177 x 2 = 354
177 x 3 = 531
177 x 4 = 708
177 x 5 = 885
177 x 6 = 1062
177 x 7 = 1239
177 x 8 = 1416
177 x 9 = 1593
177 x 10 = 1770

multiplication table of 178:
178 x 1 = 178
178 x 2 = 356
178 x 3 = 534
178 x 4 = 712
178 x 5 = 890
178 x 6 = 1068
178 x 7 = 1246
178 x 8 = 1424
178 x 9 = 1602
178 x 10 = 1780

multiplication table of 179:
179 x 1 = 179
179 x 2 = 358
179 x 3 = 537
179 x 4 = 716
179 x 5 = 895
179 x 6 = 1074
179 x 7 = 1253
179 x 8 = 1432
179 x 9 = 1611
179 x 10 = 1790

multiplication table of 180:
180 x 1 = 180
180 x 2 = 360
180 x 3 = 540
180 x 4 = 720
180 x 5 = 900
180 x 6 = 1080
180 x 7 = 1260
180 x 8 = 1440
180 x 9 = 1620
180 x 10 = 1800

multiplication table of 181:
181 x 1 = 181
181 x 2 = 362
181 x 3 = 543
181 x 4 = 724
181 x 5 = 905
181 x 6 = 1086
181 x 7 = 1267
181 x 8 = 1448
181 x 9 = 1629
181 x 10 = 1810

multiplication table of 182:
182 x 1 = 182
182 x 2 = 364
182 x 3 = 546
182 x 4 = 728
182 x 5 = 910
182 x 6 = 1092
182 x 7 = 1274
182 x 8 = 1456
182 x 9 = 1638
182 x 10 = 1820

multiplication table of 183:
183 x 1 = 183
183 x 2 = 366
183 x 3 = 549
183 x 4 = 732
183 x 5 = 915
183 x 6 = 1098
183 x 7 = 1281
183 x 8 = 1464
183 x 9 = 1647
183 x 10 = 1830

multiplication table of 184:
184 x 1 = 184
184 x 2 = 368
184 x 3 = 552
184 x 4 = 736
184 x 5 = 920
184 x 6 = 1104
184 x 7 = 1288
184 x 8 = 1472
184 x 9 = 1656
184 x 10 = 1840

multiplication table of 185:
185 x 1 = 185
185 x 2 = 370
185 x 3 = 555
185 x 4 = 740
185 x 5 = 925
185 x 6 = 1110
185 x 7 = 1295
185 x 8 = 1480
185 x 9 = 1665
185 x 10 = 1850

multiplication table of 186:
186 x 1 = 186
186 x 2 = 372
186 x 3 = 558
186 x 4 = 744
186 x 5 = 930
186 x 6 = 1116
186 x 7 = 1302
186 x 8 = 1488
186 x 9 = 1674
186 x 10 = 1860

multiplication table of 187:
187 x 1 = 187
187 x 2 = 374
187 x 3 = 561
187 x 4 = 748
187 x 5 = 935
187 x 6 = 1122
187 x 7 = 1309
187 x 8 = 1496
187 x 9 = 1683
187 x 10 = 1870

multiplication table of 188:
188 x 1 = 188
188 x 2 = 376
188 x 3 = 564
188 x 4 = 752
188 x 5 = 940
188 x 6 = 1128
188 x 7 = 1316
188 x 8 = 1504
188 x 9 = 1692
188 x 10 = 1880

multiplication table of 189:
189 x 1 = 189
189 x 2 = 378
189 x 3 = 567
189 x 4 = 756
189 x 5 = 945
189 x 6 = 1134
189 x 7 = 1323
189 x 8 = 1512
189 x 9 = 1701
189 x 10 = 1890

multiplication table of 190:
190 x 1 = 190
190 x 2 = 380
190 x 3 = 570
190 x 4 = 760
190 x 5 = 950
190 x 6 = 1140
190 x 7 = 1330
190 x 8 = 1520
190 x 9 = 1710
190 x 10 = 1900

multiplication table of 191:
191 x 1 = 191
191 x 2 = 382
191 x 3 = 573
191 x 4 = 764
191 x 5 = 955
191 x 6 = 1146
191 x 7 = 1337
191 x 8 = 1528
191 x 9 = 1719
191 x 10 = 1910

multiplication table of 192:
192 x 1 = 192
192 x 2 = 384
192 x 3 = 576
192 x 4 = 768
192 x 5 = 960
192 x 6 = 1152
192 x 7 = 1344
192 x 8 = 1536
192 x 9 = 1728
192 x 10 = 1920

multiplication table of 193:
193 x 1 = 193
193 x 2 = 386
193 x 3 = 579
193 x 4 = 772
193 x 5 = 965
193 x 6 = 1158
193 x 7 = 1351
193 x 8 = 1544
193 x 9 = 1737
193 x 10 = 1930

multiplication table of 194:
194 x 1 = 194
194 x 2 = 388
194 x 3 = 582
194 x 4 = 776
194 x 5 = 970
194 x 6 = 1164
194 x 7 = 1358
194 x 8 = 1552
194 x 9 = 1746
194 x 10 = 1940

multiplication table of 195:
195 x 1 = 195
195 x 2 = 390
195 x 3 = 585
195 x 4 = 780
195 x 5 = 975
195 x 6 = 1170
195 x 7 = 1365
195 x 8 = 1560
195 x 9 = 1755
195 x 10 = 1950

multiplication table of 196:
196 x 1 = 196
196 x 2 = 392
196 x 3 = 588
196 x 4 = 784
196 x 5 = 980
196 x 6 = 1176
196 x 7 = 1372
196 x 8 = 1568
196 x 9 = 1764
196 x 10 = 1960

multiplication table of 197:
197 x 1 = 197
197 x 2 = 394
197 x 3 = 591
197 x 4 = 788
197 x 5 = 985
197 x 6 = 1182
197 x 7 = 1379
197 x 8 = 1576
197 x 9 = 1773
197 x 10 = 1970

multiplication table of 198:
198 x 1 = 198
198 x 2 = 396
198 x 3 = 594
198 x 4 = 792
198 x 5 = 990
198 x 6 = 1188
198 x 7 = 1386
198 x 8 = 1584
198 x 9 = 1782
198 x 10 = 1980

multiplication table of 199:
199 x 1 = 199
199 x 2 = 398
199 x 3 = 597
199 x 4 = 796
199 x 5 = 995
199 x 6 = 1194
199 x 7 = 1393
199 x 8 = 1592
199 x 9 = 1791
199 x 10 = 1990

multiplication table of 200:
200 x 1 = 200
200 x 2 = 400
200 x 3 = 600
200 x 4 = 800
200 x 5 = 1000
200 x 6 = 1200
200 x 7 = 1400
200 x 8 = 1600
200 x 9 = 1800
200 x 10 = 2000

####  (4).Print individual letters of 'trypanosomiasis', a string using the for loop

In [7]:
# for loop
word = "trypanosomiasis"
for letter in word:
    print(letter)

t
r
y
p
a
n
o
s
o
m
i
a
s
i
s

In [8]:
# while loop
word = "trypanosomiasis"
i = 0
while i < len(word):
    print(word[i])
    i += 1

t
r
y
p
a
n
o
s
o
m
i
a
s
i
s

#### (5).Print individual letters of ["Apple", "Banana", "Car", "Dolphin" ] as nested loop

In [9]:
# for loop
words = ["Apple", "Banana", "Car", "Dolphin" ] 
for word in words:
    for letter in word:
        print(letter)
    print()

A
p
p
l
e

B
a
n
a
n
a

C
a
r

D
o
l
p
h
i
n

In [10]:
# while loop
words = ["Apple", "Banana", "Car", "Dolphin" ] 
i = 0
while i < len(words):
    j = 0
    while j < len(words[i]):
        print(words[i][j])
        j += 1
    print()
    i += 1

A
p
p
l
e

B
a
n
a
n
a

C
a
r

D
o
l
p
h
i
n

#### (6).Write program to display odd numbers from range 1 to 100

In [11]:
# for loop
for i in range(1,100,2):
    print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [12]:
# while loop
i = 1
while i <= 100:
    print(i, end=' ')
    i += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

#### (7).Write program to display even numbers from range 1 to 100

In [13]:
# for loop
for num in range(1,101):
    if num % 2 == 0:
        print(num, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [14]:
# while loop
i = 2
while i <= 100:
    print(i,end=' ')
    i += 2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

#### (8).Write program to display prime numbers from range 1 to 100

In [1]:
# for loop
for num in range(2,101):
    is_prime = True
    for i  in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [2]:
# while loop
num = 2
while num <= 100:
    is_prime = True
    i = 2
    while i <= int(num**0.5):
        if num % i == 0:
            is_prime = False
            break
        i += 1
    if is_prime:
        print(num, end=' ')
    num += 1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

#### (9).Write program to sum up [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [1]:
# sum uo[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
# for loop
total = 0
for num in range(1, 21):
    total += num
print(total)

210

In [2]:
# while loop
total = 0
i = 1
while i <= 20:
    total += i
    i += 1
print(total)

210

####  (10) Given (t1,t2) as an unpacking  to  [(1,2),(3,4),(5,6),(7,8),(9,10),(19,20)]. print the second number each from the parenthensis

In [3]:
# print the second number from each of the parenthesis
# for loop
group =  [(1,2),(3,4),(5,6),(7,8),(9,10),(19,20)]
for t1,t2 in group:
    print(t2)

2
4
6
8
10
20

In [4]:
# while loop
group = [(1,2),(3,4),(5,6),(7,8),(9,10),(19,20)]
i = 0
while i < len(group):
    print(group[i][1])
    i += 1

2
4
6
8
10
20